[2014-12-29 23:50] dubreuia opened #1 "Multiple open projects do not work properly"
- open 2 different project windows, A and B
- edit a file in A, then switch to B [intellij syncs it and the plugin reformat it]
- then B will ask for permission to modify the file in A

[2014-12-30 00:20] #1 closed, assigned to dubreuia

[2015-01-06 09:06] dubreuia opened #2 "Deactivate code modification while typing"
https://www.reddit.com/r/IntelliJIDEA/comments/2qta03/intellij_save_action_plugin_just_released/

[2015-01-20 09:59] dubreuia opened #3 "Add deactivation by filename"
Make it possible to deactivate the save actions on certain files (by pattern, path, etc.).

[2015-01-22 16:27] yrn1 opened #4 "Nothing happens in IntelliJ 14 Ultimate"
I installed the plugin, restarted IntelliJ, enabled Save actions in its config pane, but it does not seem to do anything. I tried
* restarting IntelliJ: no difference
* different ways of saving: ctrl-s, triggering a build, quitting IntelliJ: no actions
* looking in idea.log: Save Action plugin is enabled, but no further output from the plugin.

Any idea?

btw. this plugin is a great idea ;-)

[2015-01-23 12:38] dubreuia commented on #4
Make sure you have activated at least one action (for example the "organize imports" action) in "File > Settings > Other Settings > Save actions". Make sure those are checked:

- "Activate save actions"
- "Organize imports"

Then go in a file (Java ?) and type an unused import "import java.util.Map. Then either (I) change window OR (II) save-all with CTRL-S. You should instantly see the import go

[2015-01-23 12:40] dubreuia commented on #4
Oh and the plugin is dependent on your "organize import" and "reformat code" configuration, which are visible from "File > Settings > Editor > General > Formatting". Tick the boxes, then organize imports or reformat code which will show the dialog boxes, and check your config.

[2015-01-23 12:43] yrn1 commented on #4
Did exactly that, but it still does nothing. These are my versions:
- IntelliJ Ultimate 14.0.2 build #IU-139.659
- JRE 1.7.0_71-b14
- Save Actions Version 0.2

[2015-01-23 17:40] dubreuia commented on #4
CTRL-ALT-L ? What OS are you using ?

[2015-01-23 17:52] yrn1 commented on #4
Windows 7

[2015-01-23 18:20] dubreuia commented on #4
I have an idea I check it out and keep you posted.

[2015-02-13 19:45] stephanenicolas opened #5 "Trailing spaces ain't stripped out"
When using the plugin, I lost the ability to remove trailing spaces on save (setting in Preference >> Editor >> Trailing Spaces).

[2015-02-19 13:07] dubreuia commented on #5
You mean it overrides the value set in "Strip trailing space on Save" ? Two cases I see where this could be a problem:

- "Strip trailing space on Save = None" and the plugin is activated (modified lines or all lines), it will always remove the trailing spaces
- "Strip trailing space on Save = Modified Lines" and the plugin is activated (all lines), it will remove the trailing spaces even on non-m

[2015-03-05 09:00] NorthIsUp opened #6 "Support save actions in PyCharm"
The plugin does not seem to work in PyCharm (no File > Save Options > etc. menu exists).

[2015-03-05 14:25] dubreuia commented on #6
Yes indeed, I'm not currently supporting PyCharm (or any other variation than Intellij IDEA) so it shouldn't show up in the plugin repository in PyCharm. Did you install it from there ?

That being said, I should support it, so I'm marking that as an enhancement.

[2015-03-19 13:14] dubreuia commented on #4
Confirmed today on a coworker's windows machine

[2015-03-19 13:16] dubreuia opened #7 "NoSuchMethodError when rearrange code is activated"
It seems the rearrange code processor is not shipped with every intellij version (it might come from a plugin).

*Easy workaround*: go in "File > Settings > Save Actions > Rearrange code" and uncheck the option. Your code will still reformat but won't reorder.

[code]

[2015-03-31 17:27] stephanenicolas opened #8 "Save actions should be applied to only a subset of source files"
For instance, I don't want to format my xml or gradle file (I just lost 30 minutes as the plugin had formatted a gradle properties files..).

So, it would be nice to add a feature to provide a list of file name masks to apply the save actions to.

Default : all
Alternative : apply file masks :
the a field becomes enabled to enter a regexp list, comma separated like : *.java,*.xml

[2015-04-02 17:01] dubreuia commented on #8
Yeah I have the same problem. I started working on it already, the issue is this one: #3. I'm closing this issue as duplicates, but subscribe to #3 and you'll be notified of the new feature soon.

Thanks

[2015-04-02 17:01] #8 closed

[2015-04-02 17:02] dubreuia commented on #3
Bump by #8

[2015-04-03 00:35] stephanenicolas commented on #3
I think a list of regexp for inclusion and exlusion should be more than enough.

[2015-04-06 15:09] dubreuia commented on #7
Corrected on master.

[2015-04-07 14:41] raphaelfsousa commented on #7
Hi,

I'm still facing the same issue.
Do have any idea on how to fix it (or workaround)?
I'm using the Intellij Ultimate 14.1.1 (141.178), JDK 1.7.0-51 and Save Action plugin version 0.2.

Thanks!

[2015-04-10 23:21] AbdElraoufSabri commented on #7
Hi, @raphaelfsousa, the author pointed to that in the top of the issue page
Easy workaround: go in "File > Settings > Save Actions > Rearrange code" and uncheck the option. Your code will still reformat but won't reorder.

[2015-04-12 11:24] dubreuia commented on #7
The workaround should work. I pushed the correction, I just need to repackage the plugin and upload it. I'll do that this weekend.

[2015-04-13 09:47] dubreuia commented on #7
The new version is being validated at JetBrains. For posterity, the change that broke the processor: https://github.com/JetBrains/intellij-community/commit/8e5bf0aa2eb0c42b90558e4ca0c55526f0ce5fe8

[2015-04-13 13:58] #7 closed

[2015-04-19 15:53] dubreuia commented on #3
Added a list of exclusions in the settings window in version 0.4. The code is in master, I'll close this issue when JetBrains reviews the version. See README for more info.

[2015-04-20 09:21] #3 closed

[2015-05-04 08:43] krasa opened #9 "Support inspections"
It would be nice if you could check inspections that would run and quick fix everything in changed files.

From comments to Eclipse Code Formatter plugin:
"I need Intellij to add the 'final' modifier everywhere possible. similar to Eclipse's: "Use modifier 'final' where possible" under "Save Actions"."

[2015-05-04 08:47] dubreuia commented on #9
That would be a nice feature. I'm marking that as enhancement. Thanks for the idea, I'll keep you posted.

[2015-05-04 08:48] dubreuia opened #10 "Plugin should be enabled for each project separately"
From the plugin page comment section:

andyrozman
2015-05-04 11:34:21
Great plugin... Just something I wanted when I switched from Eclipse... While it's great, there is one thing missing... Plugin should be enabled for each project separately... I am using my IntelliJ for two different project, I need Save actions for one of them but not for the other one...

[2015-05-04 08:49] dubreuia commented on #4
It seems it is corrected by #7

[2015-05-05 08:31] yrn1 commented on #4
Still does nothing on my IntelliJ Ultimate 14.1.2, on Windows 7, even with the hints from #7

[2015-05-05 11:18] dorongold commented on #9
+1.
That would be the last thing missing for convincing everybody in my team to switch from eclipse to intellij.

[2015-05-05 12:54] krasa commented on #9
I tried to call some methods and it seems to work quite well...
[code]

[2015-05-05 13:24] krasa commented on #2
Perhaps you should hook on FileEditorManagerListener#fileClosed and on FrameStateListener#onFrameDeactivated

[2015-05-05 14:13] dubreuia commented on #9
Very nice @krasa, I'll try your code ASAP.

The best way to configure that would be to duplicate the "Settings > Editor > Inspections" option table in the save actions options, to enable / disable specific inspections on save... Then reuse your code by looping on the activated inspections and applying them.

[2015-05-05 14:15] dubreuia commented on #2
Thanks @krasa! I'll look into that.

[2015-05-05 14:22] dubreuia commented on #4
Confirmed working on all machines at work (Windows / Unix / Mac) and many versions.

I'll do something: I'll add some logging in the next plugin version (0.5), and you'll send me the log file so I can debug more easily.

[2015-05-05 14:22] krasa commented on #9
Yep, that would be ideal.

[2015-05-05 14:23] dubreuia opened #11 "Add debug and log info"
Add debug and info logs to help diagnostics (especially for #4).

[2015-05-06 14:36] krasa commented on #2
That is one interesting issue, so I am poking into it a little more...

I would not process the currently active editor unless the save is triggered manually, like so:
https://github.com/dubreuia/intellij-plugin-save-actions/compare/master...krasa:deactivateCodeModificationWhileTyping?expand=1

Hopefully if something saves the file automatically from the background while typing, it would not go th

[2015-06-05 00:10] dhafirnz opened #12 "Plugin killed by IntelliJ autosave"
I like this plugin but had to disable it because it was slowing down my IntelliJ. This is caused by the annoying auto save feature of IntelliJ. As a result, the SaveActions is invoked too often rendering the editor unusable because of the frequent pauses while it's doing it's thing. I don't think this is the plug-ins problem in this case, but I  am wondering if there is a trick to solve this?

[2015-06-05 00:21] krasa commented on #12
File | Settings | Appearance & Behavior | System Settings
do you have saving after 1 sec, as me?

[2015-06-05 00:24] dhafirnz commented on #12
Most likely, I don't really know how often it saves but the moment I enabled the plug-in I started to slow and pause each time I hit the key board.

[2015-06-05 08:19] dubreuia commented on #12
Hey I saw your comment on stack overflow, thanks for mentioning the problem.

You could deactivate the autosave feature in "File > Settings > Appearance & Behavior > System Settings > Save file on frame deactivation | Save automatically". You'll be back on a Eclipse-like save with CTRL-S. The plugin will still activate.

It might also be related to https://github.com/dubreuia/intellij-plugin-save-

[2015-06-05 08:20] dubreuia commented on #2
I read your commit but didn't have time to test it, I'll check it it out as soon as I can. Thanks a lot.

[2015-06-05 12:38] dorkbox commented on #12
@krasa The issue with saving ~1 second or so is because of "Make project automatically". Disable that, and the auto-save settings will operate as expected.

Please see this as well: https://youtrack.jetbrains.com/issue/IDEA-141128

[2015-06-07 23:59] dhafirnz commented on #12
@dubreuia Thanks for your reply. OS Windows 7, IntelliJ 14.1.3.
The above setting won't stop auto-save. These are just if you deactivate the frame. I disabled them and can still see it auto saving regardless.
I even posted a question to IntelliJ support team and they said you cannot disable auto-saving.

[2015-06-19 09:45] dorkbox opened #13 "Module in a different path than project won't work"
This is related to the fix for #1, because if you have a module whose code is in a different system path than the project -- the plugin won't work at all.

This is fixed (and tested against #1 also) by using

[code]

And removing "isActive" and "isPsiFilePhysicallyInProject".

[This commit](https://github.com/dorkbox/intellij-plugin-save-actions/commit/ae7a25e3eade57dd4f42308ee60fa65ca265126f) has

[2015-06-22 08:19] dubreuia commented on #13
Thanks @dorkbox, I'll check your commit this weekend and close the bug if OK

[2015-07-03 18:58] wujek-srujek opened #14 "build.gradle editing with auto save on"
When I edit a build.gradle file while the plugin is turned on, the code is formatted immediately as I type. This make it unusable. For example, I write:
println
and then press space, and the space is immediately removed.

This makes it pretty much impossible to code. As far as I know, this issue exist only on build.gradle files.

I'm using it in IDEA Ultimate 14.1.4.

[2015-07-05 22:51] dubreuia commented on #14
I'm going to check this out, but as a workaround, add your files to the ignore list:

Go to "File > Settings > Other Settings > Save Actions", then in the file path exclusion section, add a new exclusion for each build.gradle files. The format is described here: https://github.com/dubreuia/intellij-plugin-save-actions#file-path-exclusions

[2015-07-07 07:53] wujek-srujek commented on #14
Thanks for the tip.

[2015-07-13 11:37] 9point6 opened #15 "Ability to perform custom actions on save"
I'm not sure how feasible this is - but it'd be great if we could trigger an arbitrary menu item on save.

For example, it would be nice to be able to run "JSCS fix" on save

[2015-07-18 23:01] dubreuia commented on #2
I merged your pull request @krasa it should correct the issue. I'm closing it

[2015-07-18 23:55] dubreuia commented on #13
See PR : https://github.com/dubreuia/intellij-plugin-save-actions/pull/17, I not sure if we still need isActive or not...

[2015-07-18 23:59] dubreuia commented on #15
I'm not sure if it is possible but I'll look into it. It would be very useful to be able to execute any action.

[2015-07-19 10:55] dubreuia commented on #13
Merged

[2015-07-19 11:25] dubreuia commented on #13
I have a regression on #1, I'm reopening this issue.

[2015-07-19 11:28] dorkbox commented on #13
Strange - the dataContext method should have prevented #1

[2015-07-23 05:34] scheglov commented on #4
Does not work for me on Mac
![image](https://cloud.githubusercontent.com/assets/384794/8843761/c64acd0c-30c1-11e5-860c-4ffae020c016.png) with Java
![image](https://cloud.githubusercontent.com/assets/384794/8843764/d80defc4-30c1-11e5-89aa-0f290423e04c.png)

[2015-07-24 09:03] sbusse commented on #9
+1 for this enhancement. but applying quick fixes after inspections should be opt-in in settings for various reasons.

[2015-08-16 17:55] dubreuia commented on #4
I cannot reproduce @scheglov, but I'll add log info for cases like yours. Make sure you have installed the plugin through Intellij's plugin management, and that it is activated in the settings.

[2015-08-16 20:39] dubreuia commented on #13
Actually dataContext works as expected, the problem is that Intellij doesn't trigger file sync when you change between two editor instances, so that case do not work:

- Edit a file in editor1
- Edit a file in editor2
- Lose focus for Intellij
- Check dataContext return editor2 (last focus...), but the file sync will trigger for the files in editor1 two

I reverted the changes in master.

[2015-08-21 09:33] dubreuia commented on #9
I'm currently implementing that one. I'm doing a simple version with only some inspections, so if you want to vote for the one you want, go ahead (there are so many !).

[2015-08-21 09:36] dubreuia commented on #9
Some inspection IDs I find useful:

- localCanBeFinal
- explicitTypeCanBeDiamond
- unqualifiedFieldAccess
- suppressAnnotation
- finalPrivateMethod
- unnecessarySemicolon
- fieldCanBeFinal

[2015-08-28 16:51] jclx opened #18 "Add support to all intellij products"
If you add
    <depends>com.intellij.modules.lang</depends>

to the plugin.xml it will on all intellij products like webstorm.

Great plugin btw.

[2015-09-01 11:41] dubreuia commented on #18
Thanks, I'll add that, but I'll need to test it in all intellij products.

[2015-09-01 21:41] mkasu commented on #6
I'd also be interested in support for CLion, if possible :)

[2015-09-04 10:21] szymek204 opened #19 "Failed plugin initialize"
![pluginerror](https://cloud.githubusercontent.com/assets/14124484/9681568/4778c924-52ff-11e5-89c7-9fbc1ff96cac.PNG)

[2015-09-07 12:56] dubreuia commented on #19
Could you give me Intellij version / OS please? Did you install the plugin from the plugin management screen in Intellij ?

[2015-09-07 12:59] dubreuia commented on #6
No worries, it helps knowing what feature is of interest. I'll do #18 next.

[2015-09-17 06:52] crisfl commented on #4
Same problem as @scheglov, doesn't work on Mac.
I have the same exact version.
I did install the plugin through IntelliJ's plugin management and it is activated.

[2015-09-17 22:16] LeonidVlad commented on #4
Doe not work for me on Windows 7. I tried for AndroidStudio 1.3.2 and IntelliJ 14.1.4.
Just does nothing.
If you added the logs, where can we look at them?

[2015-09-21 08:04] mstefancic commented on #4
Not working for me on Mac either. Jus happens nothing. Same version as @scheglov, but version before didn't work too.

[2015-09-21 13:14] dubreuia commented on #4
I'm going to add the logs asap, it's almost done. I'll keep you posted.

[2015-09-24 21:44] yissachar commented on #14
I can confirm this issue. This was driving me crazy and I was about to turn off Save Actions entirely. Luckily, the file path exclusion workaround fixes it.

[2015-09-29 06:26] jaapcoomans commented on #9
+1
I really miss the "Use 'this' qualifier for field/method access" from Eclipse Save Actions! So I'd vote for:
* unqualifiedFieldAccess
* unqualifiedMethodAccess

[2015-11-06 08:10] PROrock opened #20 "Don't reformat unmodified lines in IDEA 15"
plugin is forcing style rules of javadoc (adding empty lines) and line break when overflowing specified Right margin
this happens in IDEA 15, in IDEA 14.1.5 plugin works fine

[2015-11-06 14:57] dubreuia commented on #20
I have the problem too, I think 15 is now enforcing javadoc style rules that 14 didn't (it might be normal behavior). I'll check it out.

[2015-11-26 13:13] Toilal commented on #20
As a workaround, you can configure the formatting with CTRL+ALT+SHIFT+L and change the scope. It seems to be kept for later calls performed by the plugin.

[2015-11-26 23:34] MANGO1234 opened #21 "Save actions reformat the whole file in refactoring operations even with reformat only changed code turned on"
Intellij 14/15, Windows 7. Refactor e.g. a Java class name will reformat the whole file for any file that uses that class even with Reformat only changed code turn on.

[2015-12-03 12:32] dubreuia commented on #21
OK I'll check it out.

[2015-12-10 15:00] dubreuia commented on #18
From twitter: "Hi there, I just installed Save Actions on phpstorm 9.0.2 but cannot find the settings as described in the documentation."

[2016-01-07 12:02] dploeger commented on #15
I was just about to add a new feature request on adding a "add final modifier where possible" save-action. But with this feature working it would solve that one, too. So, please, look into it!

[2016-01-07 14:28] dubreuia commented on #15
I already developed the feature "add final modifier where possible", I'm testing it right now, I'll release it ASAP.

[2016-01-07 14:52] dploeger commented on #15
Cool! Thanks.

[2016-01-14 10:25] fluidsonic commented on #14
@dubreuia Using Path Exclusions doesn't solve the issue since they don't work at all.

No matter which of the following exclusions I add, I keep getting the popup "Organizing Imports…" after each keystroke:
- `.*/.*\.gradle`
- `.*/.*`
- `.*`

It only goes away when I completely disable Save Actions.

[2016-01-14 16:20] yissachar commented on #14
This is what I have in my file path exclusions and it works for me:

[code]

I found I needed both in order to properly exclude both at the root level, as well as nested.

[2016-01-29 13:30] pcalouche commented on #4
Any updates on this?  I'm seeing similar behavior.  I'm using Windows 7, IntelliJ 15.03, Build #IU-143.1821. I have a Windows 10 machine with the same setup, and it works.  Maybe a clue?

[2016-01-29 14:17] pcalouche commented on #4
I compiled your 0.5 plugin that had the logging, and I think I have an idea of what may be going on.

If the project is configured to so that project files are kept in a separate folder than the source files I see something like this:

2016-01-29 09:01:14,526 [ 386532]  DEBUG - com.dubreuia.SaveActionManager - File C:/Users/pcalouch/Repos/spat/src/main/java/com/calouche/spat/controller/HomeControl

[2016-02-04 12:36] dubreuia commented on #4
Thanks a lot @pcalouche for the debug. I thought it was the problem but couldn't confirm it. I'll correct the problem, it's a side effect of the correction for bug #1.

[2016-02-08 19:45] dubreuia commented on #11
Added in 0.5

[2016-02-08 19:45] #11 closed

[2016-02-08 19:45] dubreuia commented on #2
Added in 0.5

[2016-02-08 19:45] #2 closed

[2016-02-08 19:45] dubreuia commented on #4
Corrected in 0.5

[2016-02-08 19:45] #4 closed

[2016-02-08 19:46] dubreuia commented on #13
Corrected in 0.5

[2016-02-08 19:46] #13 closed

[2016-02-08 19:47] dubreuia commented on #9
Added in 0.5. Open another issue if you want more inspections, I'll add them incrementally.

[2016-02-08 19:47] #9 closed

[2016-02-08 19:48] dubreuia commented on #14
@fluidsonic I added debug information in version 0.5 so we can check out why path exclusions do not work

[2016-02-08 19:49] dubreuia commented on #15
Added in 0.5, please open another issue if you want more custom actions, I'll add them incrementally

[2016-02-08 19:49] #15 closed

[2016-02-08 19:50] dubreuia commented on #19
Cannot reproduce / lack of information I'm closing the issue

[2016-02-08 19:50] #19 closed

[2016-02-08 19:51] dubreuia commented on #21
@MANGO1234 Could you check if you have a VCS configured? Like git or svn or something.

[2016-02-08 19:51] dubreuia commented on #12
Corrected in 0.5

[2016-02-08 19:51] #12 closed

[2016-02-08 21:45] pcalouche commented on #4
Glad I could help @dubreuia and glad it is closed.  How long does it take the IntelliJ Plugin Repository to update to the newest version?

[2016-02-08 22:22] dubreuia commented on #4
Jetbrains validates them pretty fast, normally 1 business day.

I did a release too and attached the binary if you want to try it before: https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.5

[2016-02-09 10:05] fluidsonic commented on #14
Why isn't 0.5 available through the [plugin repository](https://plugins.jetbrains.com/plugin/7642)?

I installed the 0.5 jar file manually and the settings pane looks quite different now.
And the file path exclusions are finally working :)

Thanks!

[2016-02-09 12:33] dubreuia commented on #14
@fluidsonic Jetbrains has to validate it. Should be fast, like couple of days.

Happy to hear it works!

[2016-02-09 21:21] dubreuia opened #23 "On first launch the settings are not saved"
The default values are initialised each time the settings are opened.

[2016-02-09 21:27] #23 closed

[2016-02-09 21:33] dubreuia opened #24 "Add an external release note"

[2016-02-10 02:07] pcalouche commented on #4
Changes look good @dubreuia .  Thanks for the update.  I think I noticed a typo in the options screen after the change.  I think Organize organize used to be Organize imports.

[2016-02-10 09:38] dubreuia commented on #4
The plugin is out. Thanks for the heads up about the typo.

[2016-02-10 09:39] dubreuia opened #25 "Typo in option screen"
Organize organize used to be Organize imports.

[2016-02-10 09:57] dubreuia opened #26 "Add continuous deployment to plugin"
http://www.jetbrains.org/intellij/sdk/docs/tutorials/build_system/deployment.html

[2016-02-10 10:33] maggu2810 commented on #6
You have removed the 0.6 milestone from #18

Any news to get this plugin working in PyCharm?
Do you need more testers?

[2016-02-10 12:53] dubreuia commented on #6
@maggu2810 I'm just not using milestone anymore that is why I removed it.

I got a pull request (https://github.com/dubreuia/intellij-plugin-save-actions/pull/22/commits) that should enable the plugin in PyCharm too, I just need to test it.

[2016-02-10 19:39] #25 closed

[2016-02-16 02:01] rsparkyc opened #27 "Adding final to field inconsistant"
There are times where it seems that I don't get the `final` keyword added on my fields.  I'm using idea15 pro edition

[2016-02-16 02:01] rsparkyc opened #28 "Support vim plugin"
When using `:w` with the vim plugin, the save actions don't get executed.

[2016-02-16 10:02] dubreuia commented on #27
Do you have an example of a non working file so I can reproduce? It seems to work for me.

[2016-02-16 10:05] dubreuia commented on #28
OK I'll check it out.

[2016-02-22 14:27] pcalouche opened #29 "File path exclusions get ignored if IntelliJ Project Files are in a different file path than the Source Code Files"
in my setup I have something like this:

IntelliJ Project Setup:
C:\Users\pcalouch\Projects\My Project (IntelliJ project files here)
C:\Users\pcalouch\Repos\My Project (index.cfm and other source code files here)

If I use .*\.cfm as a file path exclusion index.cfm is still formatted when pressing Ctrl+S.  However it works if I set me project up like this:

C:\Users\pcalouch\Projects\My Project (I

[2016-02-22 15:11] myoss opened #30 "why only focus document can be used save actions? version 0.7"
before upgrade to version 0.7, i used version 0.4, the can auto format all modified file (before do make/debug/other things), today i upgrade to version 0.7 and debug the source code, now why only focus document can be used save actions? when do make/debug can not used

    @Override
    public void beforeDocumentSaving(@NotNull Document document) {
        if (!SaveAllAction.TRIGGERED && isDocume

[2016-02-23 10:00] dubreuia commented on #29
Thanks for the issue I'll check it out.

[2016-02-23 10:19] dubreuia commented on #30
Thanks for the issue. I'll check out if I can support both (1) reformat only the focus document (2) reformat all modified documents.

*tl;dr:* It's a side effect of #13

*Long explanation:* to fix #1, I need to make sure to reformat only the file that is opened in the current intellij (there can be multiple instances), but I can't check on file path since it breaks #13, so I'm using the current fi

[2016-02-23 10:21] dubreuia commented on #30
I might just add an option "Reformat only focus document" so I'm marking that as an enhancement since 0.7 is working as I want it to work.

[2016-02-24 01:27] myoss commented on #30
I'm looking forward to it.

[2016-02-24 21:52] sgeier opened #31 "Make Save Actions work in Android Studio"
The plugin unfortunately doesnt work in Android Studio latest version. Also it cant be selected from the plugin browser. Thank you

[2016-03-02 01:08] NabiKAZ opened #32 "Do work with phpstorm?!"
Do work with phpstorm?!

[2016-03-02 15:08] dubreuia commented on #18
Lots of demand for this:

- PyCharm (https://github.com/dubreuia/intellij-plugin-save-actions/pull/22)
- Android Studio #31
- PHPStorm #32

[2016-03-02 15:08] dubreuia commented on #31
Duplicates #18 this is the next thing I implement.

[2016-03-02 15:08] #31 closed

[2016-03-02 15:09] dubreuia commented on #32
Duplicates #18 this is the next thing I implement.

[2016-03-02 15:09] #32 closed

[2016-03-02 15:09] dubreuia commented on #6
Duplicates #18 this is the next thing I implement.

[2016-03-02 15:09] #6 closed

[2016-03-03 05:46] sbmpost commented on #30
@dubreuia: hi there, you may want to take a look at some code I posted here: http://stackoverflow.com/a/35727193
It solves some problems (locked files, not being able to undo, and formatting multiple files).

[2016-03-07 22:20] dubreuia commented on #30
I like the make project / compile file options, I might steal your idea. Not sure I can use the multiple files handling part but I'll try. I'll certainly use the part on the undo and the locked files. Thanks a lot I'll keep you posted!

[2016-03-07 22:22] dubreuia opened #33 "Add locked files, undo support and compilation support"
From #30

[code]

[2016-03-09 09:32] sbmpost commented on #30
You are welcome to steal ;-), thanks for working on this

[2016-04-08 11:28] sbmpost commented on #33
I updated the code a bit since then:

    private static void reformatAndCompile(
            @NotNull final Project project,
            @NotNull final Document document,
            @NotNull final PsiFile psiFile) {
        documentsToProcess.add(document);
        if (storage.isEnabled(Action.compileFile) && isDocumentActive(project, document)) {
            fileToCompile = isFileCompilable(pro

[2016-04-12 08:04] dannygod commented on #30
It seems not working with IdeaVim plugin when typing **:w** to save a file due to this issue. Roll back to version 0.4 and everything work fine. Looking forward to this enhancement in future version.

[2016-04-12 08:56] dploeger commented on #21
It could be, that @MANGO1234 is not referring to the reformat options but to the "Inspections quick fix"-options. I have the same problem here.

Could you please support a "fix only change lines" also for the "Inspection quick fix"-options?

[2016-04-12 09:10] dubreuia commented on #21
I think the current behaviour is: if "only change lines" is active but VCS is not configured, then the plugin reformat the whole file (maybe it should reformat nothing).

For the inspection quick fix, I will add a "only change lines" option, I actually need it too.

[2016-04-12 09:11] dubreuia opened #34 "Deactivate "reformat only changed code" if VCS is not configured"

[2016-04-12 09:12] dubreuia commented on #21
Added can't activate "only change lines" if VCS not configured (#34) and I'll correct the whole file behavior in this issue

[2016-04-12 09:15] dubreuia commented on #34
If I correct #21, the plugin will seem broken with that option activated (the plugin won't do anything)

[2016-04-12 09:17] dubreuia opened #35 "Add "only change lines" to inspections"
Add the option for each one individually.

It should have the same mechanism than #34.

[2016-04-12 09:18] dubreuia commented on #21
Added "only change lines" issue: #35

[2016-04-14 07:23] janxbar opened #36 "Problem with scala imports"
Hi,

thank you for excellent plugin, as former Eclipse user I like it. However I have strange problems with my scala code. Auto save is configured to only organize imports, all other configurations are switched off. When I modify one line and I switch focus away from IntelliJ, the organize imports deletes some of imported class and the file cannot be compiled. This is quite unfortunate. I tried to

[2016-04-14 11:08] dubreuia commented on #36
I didn't tried the plugin with every language, so it might not work with some. I'll check it out.

[2016-04-19 07:43] Propheta13 opened #37 "Not working properly in Android Studio 2.0 (Intellij Idea 15 based) when used with Eclipse Code Formatter"
What is not working (checked):
- Code reformatting;
- Adding final to field access.

Both for version 0.7. Reformatting working OK for the same situation with version 0.4.

[2016-04-21 08:55] Dimes opened #38 "Add option to make project in save actions."
Just installed the save actions plugin and love it. One improvement that could be added is to add the option to make the project on save. IntelliJ currently has this option, but the option only performs a make if there is no code running. This makes hot swapping very annoying because you must manually press Cmd+F9 to make the project after each change. It would be great if save actions could also

[2016-04-21 09:09] dubreuia commented on #38
It's already on the roadmap I just don't have time to work on it. There's @sbmpost that sent me code to do it so I created #33 (I modified the subject it didn't mention compilation).

I'm closing this one but subscribe to #33

[2016-04-21 09:09] #38 closed

[2016-04-21 09:10] dubreuia commented on #37
There are some regressions in 0.7 due to modifications in editor focus, I'll check it out.

[2016-05-05 21:50] #5 closed

[2016-05-05 21:50] dubreuia commented on #5
will not fix

[2016-05-05 21:52] #24 closed

[2016-05-05 21:52] #26 closed

[2016-05-05 21:52] dubreuia commented on #33
Added compile support in 0.8. Might add make support later

[2016-05-05 21:52] #33 closed

[2016-05-05 21:54] dubreuia commented on #30
Corrected that behavior in 0.8. It should work as in 0.4, but works with multiple open instances too

[2016-05-05 21:54] #30 closed

[2016-05-10 07:58] arngrimur opened #39 "Save actions does not save file after formatting"
If the options to reformat code and organize imports are enabled and at least reformat code is triggered then the code is reformatted but the file is not saved so you have to press Ctrl+S twice.

Steps to reproduce: (Tested in a java file and java script file)
1: Write some correctly formatted code.
2: Add after a semicolon some more code so you get a line like
System.out.println("foo");System.out

[2016-05-10 10:46] tabbed opened #40 "Error: Attempt to modify PSI for non-committed Document"
Opened the Maven Projects "Tab" and then this error came up:

Stacktrace:
`
Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: Attempt to modify PSI for non-committed Document!
    at com.intellij.pom.core.impl.PomModelImpl.a(PomModelImpl.java:325)
    at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:146)
    at com.intellij.psi.impl.sourc

[2016-05-10 19:40] XXChester commented on #18
Guess the php webstorm support never made it in? Was really excited when I found this plugin and it installed fine, just cannot find the settings anywhere.

[2016-05-11 02:33] dubreuia commented on #39
Thanks for that. Can you give me your plugin version, idea version and the last lines of your ~/.IntelliJIdea2016.1/system/log/idea.log please I'll check it out

[2016-05-11 02:35] dubreuia commented on #40
Thanks for that. If that happens often you can deactivate any "quick fix" actions so you can continue using the plugin.

Can you give me your plugin version, idea version and the last lines of your ~/.IntelliJIdea2016.1/system/log/idea.log please I'll check it out

[2016-05-11 02:37] dubreuia commented on #18
Hey @XXChester I'm working on bringing the plugin to all products right now, PhpStorm will soon be supported. I closed specific issues because they are duplicate with this one (I'll release it for all products at the same time).

[2016-05-11 02:50] dubreuia commented on #39
I can reproduce, don't worry about what I asked you, I'll be able to manage without it.

[2016-05-11 12:27] XXChester commented on #18
👍  Awesome. I thought it was abandoned date, glad to hear it is not.

[2016-05-11 14:08] macwirbel opened #41 "Add final to method parameters"
Thanks for updating the save actions to 0.9. One thing is still annoying and not what I expected updating code that had been written with eclipse.
The option "Add final to local variable" I would like to check, because I want the final added to:
`String text = object.getName();`
(Otherwise checkstyle will complain.)
But I do not need the final added to all parameters of all method declarations.
Gi

[2016-05-11 20:32] dubreuia commented on #41
That would be a nice enhancement, I'll try to add that. Thanks

[2016-05-11 22:36] ccsplit opened #42 "Issue with certain C style block comment containing method"
I have an interesting issue that I've narrowed down to being a C block style comment with a function within it. I thought at first it was caused by the function within the comment being recursive, but attempts at recreating the issue failed.  As I'm not sure if it is an issue with the combination between SaveActions and/or EclipseFormatter. I have attached [idea.txt](https://github.com/dubreuia/in

[2016-05-12 13:48] tabbed commented on #40
Hi,
I am using

IntelliJ IDEA 2016.1.2
Build #IU-145.971, built on April 29, 2016
JRE: 1.8.0_73-b02 amd64
JVM: Java HotSpot(TM) 64-Bit Server VM by Oracle Corporation

Plugin-Version: 0.9

Here are the last lines of idea.log:
`2016-05-12 15:33:19,928 [18281484]  DEBUG - com.dubreuia.SaveActionManager - Running processors [OptimizeImports (false), ReformatAllText (false), RearrangeCode (false), Loc

[2016-05-13 12:47] krasa commented on #40
I would put there
PsiDocumentManager manager = PsiDocumentManager.getInstance(project);
manager.commitDocument(document);

[2016-05-14 12:46] krasa commented on #42
https://github.com/dubreuia/intellij-plugin-save-actions/pull/43 will fix it afaik

[2016-05-14 13:29] existme commented on #37
Also, the plugin is not listed when I click on browse repositories in Android Studio 2 though it is available in IntelliJ.

[2016-05-16 10:23] bartosz-bilicki commented on #29
Hello,
any chance for the bug to be fixed?

I want to ignore my .properties files, and currently I am not able to do so.
I do not like that save actions plugins removes empty lines from my properties files (it seems, there is no option to change that).

For details, please see http://stackoverflow.com/questions/37250475/how-to-stop-intellij-idea-from-removing-empty-lines-from-properties-files

[2016-05-16 10:26] bartosz-bilicki opened #44 "Empty lines from properties files are always removed"
Currently Save Actions plugin always removes empty lines from properties files.
This is not desirable for me- I use empty lines to separate file sections.

There are no options that control save actions for properties files (ignoring *.properties files does not work for me, most likely because of https://github.com/dubreuia/intellij-plugin-save-actions/issues/29)

[2016-05-18 07:03] roy-porter-itv opened #45 "Remove unused SuppressWarnings annotations is removing annotations that it shouldn't"
Latest version of the plugin is removing @SuppressWarnings for Sonar issues, when it shouldn't.

[2016-05-18 18:29] ccsplit commented on #42
@krasa Thanks, for taking a look at this. I have tested your branch with the changes and the issue still exists. I have taken a look at the logs and everything seems to run correctly within the plugins (no errors). However, the logging messages continually repeat, therefore, I'm curious if there is something flooding the `MessageBus` with `AppTopics.FILE_DOCUMENT_SYNC` topics which `SaveActionsMan

[2016-05-18 18:58] krasa commented on #42
how do you reproduce it?  I get at most 3 formatings per one save, which is bad, but certainly no infinite loop as before without the patch  when 2 projects were opened...

[2016-05-18 19:05] krasa commented on #42
I think part of the problem is that I trigger saving of the file in Eclipse Formatter plugin for various reasons.

But perhaps it could be handled, if you do `ReflectionToStringBuilder.toString(IdeEventQueue.getInstance().getTrueCurrentEvent())`

then this is the good event:
`java.awt.event.KeyEvent@7557a4bb[isProxyActive=false,keyCode=83,keyChar=,keyLocation=1,when=1463598146868,modifiers=130,bd

[2016-05-18 19:37] ccsplit commented on #42
I simply have the comment within a test java class that looks like below and add spaces/change a letter and it will continually happen. It's possibly some of the settings I may have though interacting with the saves causing it to happen more often than it should.

[code]

[2016-05-18 19:46] krasa commented on #42
Some other plugin could trigger it... Anyways, try this https://github.com/krasa/intellij-plugin-save-actions/tree/skipEvents

[2016-05-18 19:53] ccsplit commented on #42
@krasa This was indeed the case where there were many `InvocationEvent`s causing it to reformat and [skipEvents](https://github.com/krasa/intellij-plugin-save-actions/tree/skipEvents) resolves the issue.

Thank you for your time.

[2016-05-18 20:20] krasa commented on #42
Well, it did not work for me entirely... for some reason I get also these, even with default formatter:
[code]

[2016-05-18 20:30] krasa commented on #42
https://github.com/dubreuia/intellij-plugin-save-actions/pull/46

[2016-05-20 15:00] dubreuia commented on #44
I saw your post on stack overflow, I'll correct #29 first. Thanks

[2016-05-20 18:19] jcowanpdx opened #47 "Exception: String index out of range: -1"
Saw the following today. Had a gradle build running in the background.
IntelliJ 2016.1.2
OSX 10.11.5

`String index out of range: -1
java.lang.StringIndexOutOfBoundsException: String index out of range: -1
    at java.lang.String.substring(String.java:1931)
    at com.dubreuia.utils.PsiFiles.getUsableUrl(PsiFiles.java:40)
    at com.dubreuia.utils.PsiFiles.isPsiFileExcluded(PsiFiles.java:30)
    a

[2016-05-25 18:14] dubreuia commented on #29
Version 0.11 fixes it https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.11

[2016-05-25 18:14] #29 closed

[2016-05-25 18:16] dubreuia commented on #44
I corrected #29.

I'm closing this issue though, it is an Intellij related bug, not a save-actions plugin bug (if you open a properties file, do reformat, it will remove blank lines...)

[2016-05-25 18:16] #44 closed

[2016-05-25 18:18] dubreuia commented on #14
#29 corrected I'm closing this one too

[2016-05-25 18:18] #14 closed

[2016-05-25 18:19] dubreuia commented on #21
will not fix

[2016-05-25 18:19] #21 closed

[2016-05-25 18:20] dubreuia commented on #20
will not fix

[2016-05-25 18:20] #20 closed

[2016-05-25 18:20] dubreuia commented on #27
cannot reproduce

[2016-05-25 18:20] #27 closed

[2016-05-25 18:22] dubreuia commented on #47
Strange. There might be a race condition there

[2016-05-25 18:23] dubreuia commented on #10
Should migrate to new storage api: http://www.jetbrains.org/intellij/sdk/docs/basics/persisting_state_of_components.html

[2016-05-25 18:33] jcowanpdx commented on #47
I think I had two projects open at once (different IntelliJ windows). I'm on a mac, not that it should matter really.

[2016-05-26 17:00] jcowanpdx commented on #47
Thinking more about this, might have had a build going in the background.. Could have been generating source files (from thrift or other tools) so it's possible that files were being modified in the background? Could result in a race of some kind.

[2016-05-27 02:37] pcalouche opened #48 "Unexpected file exclusions"
I have two different machines each running the same IntelliJ (2016.1.2 built May 14th) and version 0.11 of the plugin.

On one machine everything works great.  On the other I have no exclusions although I used to have some and have since removed all of them. On this machine nothing gets formatted.  The IntelliJ log always shows something similar to this for each file:

C:/Users/pcalouch/Projects/T

[2016-05-27 15:32] dubreuia commented on #48
The log prints an empty set of exclusion [], which should not exclude anything.

Could you post the plugin settings file? It should be located at `~/.IntelliJIdea2016.1/config/options/saveactions_settings.xml`. You can try deleting the file (or renaming it to "saveactions_settings.xml.old") so it resets the default plugin values.

[2016-05-27 21:06] dubreuia commented on #10
Also use `projectConfigurable` instead of `applicationConfigurable` in plugin.xml

[2016-05-27 22:17] pcalouche commented on #48
Removing the file you mentioned and letting it get re-created fixed the problem.  I captured the contents of the saveactions_settings.xml that was bad and compared it to the newly created one.  It looks like an exclusion was in there, but I didn't see it listed in the Save Actions settings UI.  Maybe it will help you determined what happened.  Either way thank you for your quick response.  Love th

[2016-05-27 22:18] pcalouche commented on #29
Can confirm that it is fixed in 0.11.  Thanks!

[2016-05-30 08:04] dubreuia commented on #48
Happy to hear it corrected the problem, I'll check out the issue.

[2016-05-30 09:00] dubreuia opened #49 "Update to java 8 and migrate to gradle"
Add notes like the docker plugin "Note: For the plugin to work properly, your IDE should be started using Java 7 or a later version. For corresponding instructions, see Selecting the JDK version the IDE will run under."

[2016-06-07 16:36] dubreuia opened #50 "Cannot run synchronous submitTransactionAndWait from invokeLater"
`
18:30   Throwable
        Cannot run synchronous submitTransactionAndWait from invokeLater. Please use asynchronous submit*Transaction. See TransactionGuard FAQ for details.
        Transaction: Save All (Save all files and settings) of class com.intellij.ide.actions.SaveAllAction
        Unsafe modality: ModalityState:Optimize Imports 2026817985: running=false; canceled=false
`

[2016-06-08 18:34] greenkiwi commented on #45
I've noticed the same thing with it removing java warnings.  For example it removes this warning:
[code]
When it is an unchecked cast.

[2016-06-09 08:38] dubreuia commented on #45
I haven't touch that for a while, I'm wondering if it might be an Intellij problem. Didn't find anything in YouTrack though.

[2016-06-09 12:26] MALPI opened #51 "Breaking gradle plugin"
When opening and editing a gradle file with the save actions plugin activated, the "organize imports" task is running after each hit of a key.

[2016-06-09 12:51] dubreuia commented on #51
This is a known issue see #14. As a workaround, please use file exclusions (https://github.com/dubreuia/intellij-plugin-save-actions#file-path-exclusions)

The following should exclude all gradle files (root and nested).

    .*/.*\.gradle
    .*\.gradle

[2016-06-09 12:56] MALPI commented on #51
Thanks a lot, exclusion works. Surprisingly this issue appears first time since the last update to Intellij IDEA 2016.1.3.

[2016-06-09 16:27] greenkiwi commented on #45
I'll poke around.  I wonder whether or not some setting isn't set correctly, that results in the warnings not being viewed as "required"

[2016-06-16 14:04] sgeier commented on #18
Glad to hear you are working on making it work on a variety of platforms. Is it possible to release a port as soon as its finished instead of waiting for release until all other platforms are done? This would help so much. I personally feel that my quality of codes degrades without SaveActions. I really want this on Android Studio.

[2016-06-16 17:55] dubreuia commented on #18
Is Android Studio a JetBrains product? I'm testing for:

- Intellij IDEA
- PhpStorm
- WebStorm
- PyCharm
- RubyMine
- AppCode
- CLion
- DataGrip (maybe?)

[2016-06-16 18:02] dubreuia commented on #18
The branch all-products works, I just haven't properly tested it yet

[2016-06-16 19:50] sgeier commented on #18
Dubreuia, Android Studio is based on Intellij IDEA. So practically the IDEA extension/plugins should work but it doesn't - in fact, and this is where the troubles com in, it cant even be downloaded as a plugin from the Plugin repository browser inside Android Studio. Its just not listed. I just verified this. Appears in Idea (version 15) but doesnt in Android Studio (lastest) 2.1.1. As its entirel

[2016-06-17 02:05] krasa commented on #18
You need to put `     <depends>com.intellij.modules.platform</depends>` into plugin.xml

[2016-06-17 07:44] dubreuia commented on #18
@krasa Thanks already done! The problem is that I have Java specific elements, so I need to split the plugin in two parts so it doesn't crash on startup with PyCharm, etc.

@sgeier OK it is not a JetBrains product but it should work too, note to self : https://developer.android.com/studio/index.html

I should release the all-product version this weekend if all goes well

[2016-06-18 18:13] timovandeput commented on #45
I observe the same for both `@SuppressWarnings` and for `//noinspection` annotations.

[2016-06-25 16:17] hero710692586 opened #52 "create class file error after install intellij-plugin-save-actions"
install intellij-plugin-save-actions
if I create new class file, the new file will be generate two package code.
like this: package com.demo;package com.demo;
and I can not save it use 'ctrl + s', can show error dialog.

[2016-07-03 21:09] dubreuia commented on #52
I cannot reproduce. You are creating a "java" file not a class file right? What is in the error dialog?

Can you send me the idea.log please? Should be located under ~/.IntelliJIdea2016.2/system/log

[2016-07-13 04:04] MattGurneyAMP opened #53 "Must not modify PSI inside save listener"
Getting the error "Must not modify PSI inside save listener" when saving a .java file.

IDEA: 2016.2
Save Actions: 0.11

Save Actions Settings:
![image](https://cloud.githubusercontent.com/assets/19564959/16791487/b6621670-4902-11e6-9203-49cee855cf4d.png)

[2016-07-13 04:06] MattGurneyAMP commented on #53
Stack Trace in IDE Fatal Errors Window:
Must not modify PSI inside save listener
com.intellij.util.IncorrectOperationException: Must not modify PSI inside save listener
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:144)
	at com.intellij.psi.impl.DocumentCommitThread$10.run(DocumentCommitThread.java:922)
	at com.intellij.psi.impl.source.codeStyle.CodeStyleManagerImpl.

[2016-07-13 08:10] dubreuia commented on #53
Thank you for filling the issue. Does that happen often? Does the plugin still work?

Also can you post exact version (build # in Help > About)? I'll look into it.

[2016-07-13 08:17] MattGurneyAMP commented on #53
Thanks for investigating.

I have only started using IntelliJ and save actions today, however I can see 3 instances of the error in the IntelliJ console log.

I think the plugin is working, not exactly sure, I will investigate further the next time it happens.

Exact version information:
IntelliJ IDEA 2016.2
Build #IU-162.1121.32, built on July 9, 2016
Licensed to***************************
Subscr

[2016-07-13 09:02] marcbr8 commented on #53
Having this problem since I installed the new version of IntelliJ IDEA: 2016.2Build #IU-162.1121.32

[2016-07-13 18:25] dagger commented on #53
Same issue after the latest IntelliJ update. Looks like the plugin does something (e.g. reformats the code and rearranges methods), but causes an exception to be thrown too. :)

[2016-07-14 13:24] dubreuia opened #54 "Save without save action"
Comment: I would love to be able to save without save actions. ctrl-s (save with action) ctrl-alt-s (save without action) becouse sometimes it better not to.

From the comment section in : https://plugins.jetbrains.com/plugin/7642

[2016-07-14 16:15] PierreAdam commented on #53
I also got that issue since the last update of IntelliJ. I don't have issue saving but I get that error when i create new file.

Here's my settings :
![image](https://cloud.githubusercontent.com/assets/1321787/16846955/dd2a5a00-49ee-11e6-9092-93d207f8a472.png)

[2016-07-15 15:36] bskidan commented on #41
I wanted request the same thing. A separate "Add final to method parameters" would be great.

[2016-07-15 15:38] bskidan opened #55 ""Add missing @Overrides" save action"
Would it be possible to add another feature to add "@Override" annotation to methods that either override or implement interface methods? Thank you.

[2016-07-15 20:30] dubreuia commented on #53
The processors are independent (reformat, quick fixes, rearrange, etc.) and it seems it's only the rearrange processor that crashes (the others are finishing).

I'll check it out

[2016-07-15 20:32] dubreuia commented on #55
I'll check it out

[2016-07-19 09:49] hero710692586 commented on #52
sorry! So long to reply you.
yes, I am creating a "java" file.
The error  dialog  message: Unable to parse template "Class" Error message:0.

[2016-07-19 09:49] #52 closed

[2016-07-20 11:26] marcbr8 commented on #53
Keep having this problem. Especially when creating a new file

[2016-07-20 18:35] greenkiwi commented on #53
I'm getting it when it would appear to be making fields final.

It happens sometimes.
[code]

IntelliJ IDEA 2016.2
Build #IU-162.1121.32, built on July 9, 2016
Licensed to RelayRides / Adam
You have perpetual fallback license for this version
Subscription is active until January 4, 2018
JRE: 1.8.0_76-release-b216 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2016-07-22 09:07] AbdElraoufSabri commented on #53
When creating new class :

![capture](https://cloud.githubusercontent.com/assets/11881564/17052061/1c68496c-4ffc-11e6-91cf-f4b477503339.PNG)

IDE version :
![screenshot 1](https://cloud.githubusercontent.com/assets/11881564/17052119/5f36e9ce-4ffc-11e6-9d12-07da840b524a.png)

[2016-07-22 15:17] SemionPar commented on #53
In my case it also happens when I am creating a new class. Class is created with double package declaration (one after another), after that IDE becomes unstable (e.g. weird syntax highlighting bug).
[stacktrace.txt](https://github.com/dubreuia/intellij-plugin-save-actions/files/378485/stacktrace.txt)
![save_actions_settings](https://cloud.githubusercontent.com/assets/12086191/17061601/9b6cb008-502

[2016-07-23 16:38] AbdElraoufSabri commented on #53
@dubreuia Listen this :
I've reported that the plugin is problematic as I posted above
Today I've updated JDK to 1.8.0_102 and updated Intelljidea to Ultimate of 2016.2 (my community edition 2016.2 is still installed)

and the problem had disappeared on both version Ultimate and Community.

Ultimate is of version :
![screenshot 4](https://cloud.githubusercontent.com/assets/11881564/17079035/982b92

[2016-07-26 08:27] MALPI commented on #53
Also having the issue on saving and creating new files. This basically makes the plugin unusable for me...

[2016-07-26 08:43] dubreuia commented on #53
@AbdElraoufSabri Happy to hear that it disappeared, might be your java version... Are you sure it's not your configuration? It looks like the problem only happens if you have the "rearrange code" option activated.

@MALPI An easy workaround is to deactivate "rearrange code", the rest of the plugin should still work.

I'll check out this issue ASAP.

[2016-07-27 08:45] AbdElraoufSabri commented on #53
@dubreuia Actually the problem happened again but you were right, once I disabled rearrange code the problem disappeared

[2016-08-01 22:15] rmgrimm commented on #18
@dubreuia Any update on the release of the all-product branch? We'd like to start using it across the dev team here as soon as it's ready

I'm happy to support in any testing as well, let me know. 👍

[2016-08-03 15:08] Bammerbom commented on #53
I got the same problem, but rearrange code is one of the main reasons why I use this plugin so I would like to see a fix for this.

Error: http://pastebin.com/Xr6R5VFF

[2016-08-04 16:56] dubreuia commented on #18
Actually it's already ready, but I don't have time to test it so I didn't release it. I'll send you the jar so you can test if you want.

[2016-08-04 16:58] dubreuia commented on #53
I need to find time for this one, I didn't expect Jetbrains would break the plugin.

Don't hesitate if you can submit a pull request.

[2016-08-04 17:09] dubreuia commented on #18
[save-actions.zip](https://github.com/dubreuia/intellij-plugin-save-actions/files/402183/save-actions.zip)

Unzip, inside you have a .jar that you can import by hand in Intellij (Settings > Plugins > Import from jar). It is version 0.12-RC, it is based on 0.10 (not the latest available, you have probably on 0.11 right now).

[2016-08-05 12:44] MALPI opened #56 "Plugin adds unnecessary String concatenation"
Hi there,

we are experiencing the following Bug.
If you have a String like the following:

`"This is my very long test string this is split by formatter" +
                                  "Then save actions will break it"`

On Each time you save the file save actions will add an empty string:

`"This is my very long test string this is split by formatter" + ""+

[2016-08-05 14:16] dubreuia commented on #56
I can't reproduce... can you send me a full file where the problem exist, I tested it on that file:

    public class MacroProcessor {
        public static final String REF_PREFIX2 = "This is my very long test string this is split by formatter" +
                    "Then save actions will break it";
    }

And nothing happens. We have a lot of code like this in our codebase and I never saw any p

[2016-08-05 14:27] krasa commented on #56
https://youtrack.jetbrains.com/issue/IDEA-158493

[2016-08-05 15:48] dubreuia commented on #56
Thank you @krasa I'm closing the issue

[2016-08-05 15:48] #56 closed

[2016-08-09 06:20] MALPI commented on #56
Sorry, my bad.

[2016-08-11 07:09] mwinkelmann commented on #52
I have the same Issue after installing this plugin:

`2016-08-11 09:03:34,753 [ 598158]  ERROR - psi.SingleRootFileViewProvider - IntelliJ IDEA 2016.2.1  Build #IU-162.1447.26
2016-08-11 09:03:34,753 [ 598158]  ERROR - psi.SingleRootFileViewProvider - JDK: 1.8.0_76-release
2016-08-11 09:03:34,753 [ 598158]  ERROR - psi.SingleRootFileViewProvider - VM: OpenJDK 64-Bit Server VM
2016-08-11 09:03:34,7

[2016-08-18 09:30] Toilal opened #58 "Make configuration "per project""
Configuration of the plugin seems to be saved globally.

I have some projects that needs save actions to be enabled, and some others that doesn't. Currently, when I disable save actions in one project, it also disable it in the other.

Would it be possible to save the plugin configuration inside the project instead ?

[2016-08-21 18:58] dubreuia commented on #58
This is an old issue I don't have time to implement but would really like to do. Please check https://github.com/dubreuia/intellij-plugin-save-actions/issues/10

[2016-08-21 18:58] #58 closed

[2016-08-25 14:33] atsu85 commented on #10
I'd also like to be able to enable/disable this plugin for specific projects

[2016-09-06 14:59] Tuupertunut commented on #18
@dubreuia I can confirm that zipped version works on WebStorm 2016.2.3.

[2016-09-13 02:37] junje commented on #53
my plugin version is 0.12,idea version is 2.4. the plugin still work.but the error is very geeky
![qq 20160913103141](https://cloud.githubusercontent.com/assets/14249832/18459625/ba0a7b52-799d-11e6-8ed6-65cefc61d602.png)

[2016-09-20 11:48] petromir commented on #53
Same as @junje

[2016-09-23 11:51] goerge commented on #10
+1

[2016-10-20 13:01] dubreuia opened #59 "Add a deactivate button bottom right like scala plugin"

[2016-10-20 13:03] dubreuia opened #60 "The plugin deletes used scala imports"

[2016-10-20 14:46] stevenroose opened #61 "Allow for custom save actions for specific files"

[2016-11-11 11:27] ArchieT commented on #61
Yeah, such as _Code » Reformat with Dart style_ for Dart files

[2016-11-11 13:25] stevenroose commented on #61
Or `go fmt` for Go :)

[2016-11-12 02:04] ArchieT commented on #61
Yeah, forgot gofmt is also separate from simple Reformat in IntelliJ.

[2016-11-15 04:04] manojvignesh commented on #18
The zip file works fine in WebStorm 2016.2.4. Thanks for this awesome plugin.

[2016-11-17 08:36] mihu86 opened #62 "Resolve conflicts hangs after git pull (organize imports)"
IDEA 2016.2.5, win7 64bit
Save actions 0.12 / Organize imports turned on

If I do a git pull with auto stash, when I click on the "Merge" button on the resolve dialog the merge panel appears but immediately after this there comes a progress popup with "Organize imports". But this organize imports never finishes, the cancel button on the popup does nothing, only closing the IDEA process from the ta

[2016-11-23 17:53] dubreuia commented on #61
So it would be some kind of action file mask? Apply "Reformat" on *.java but not *.xml.

The dart thing is a separate issue, to add a new reformat action which is available if you have dart language support.

[2016-11-23 17:55] dubreuia commented on #18
Thanks for your feedback, I'll make that available on the Jetbrains plugin repository.

[2016-11-23 17:56] dubreuia commented on #62
OK I'll check it out, thanks.

[2016-11-23 19:13] stevenroose commented on #61
The issue with Go is that the plugin does not follow the community-accepted
format so a lot of us want a way to add a real `go fmt ./...` at save time
instead of just checking the box "reformat".

On 23 Nov 2016 18:53, "Alexandre DuBreuil" <notifications@github.com> wrote:

[2016-12-02 14:50] Kaerol opened #63 "Add a manual save option where plugin is not trigerred"
Please add a feature:

Run plugin after manual save (or shortcut).

Now, it save file every few seconds and make mess when coding e.g. when stop typing it reorganise code.

[2016-12-09 16:42] dubreuia commented on #63
The plugin doesn't work properly if you have other plugins that mess with the normal save cycle in intellij. For example if you have the SonarLint Plugin, it will try to save often to analyse the code, and that save will make the SaveActions plugin reformat the file (while you're typing). Some languages (scala...) will trigger save too often too.

Two options

- add an option to SaveActions to tri

[2016-12-14 14:55] Kaerol commented on #63
or
- SaveActions execute when editor loses focus
- SaveActions execute after some [   ] seconds after last keypress.

[2016-12-21 22:14] thiagotalma commented on #18
Ok with PHPStorm!

[2016-12-24 04:56] F21 commented on #18
Doesn't work with Gogland 1.0 EAP (163.10615.6) for golang. Would be awesome if it could be supported 😄

[2016-12-27 20:36] ktchernov opened #64 "Plugin 0.12 does not work on latest Android Studio"
Plugin 0.12 does not work on latest Android Studio v2.2.3

Version 0.9 does seem to work, but after upgrading to version 0.12 no actions are performed when saving.

The plugin settings are still displayed in preferences and the plugin is enabled.

[2017-01-09 09:24] marcosbento commented on #55
This would be amazing. Any chance this could happen?

[2017-01-09 16:11] dubreuia commented on #55
This is probably very easy to do since I'm pretty sure there is already the processor in JetBrains' code, so it's just adding the option in the plugin and wire the processor.

I have no time to work in this now but it could easily fit in the next release

[2017-01-10 22:04] studgeek commented on #61
As a first step, if the plugin at just supported run script option for all files, then the script itself could conditionally take action based on the file.

[2017-01-13 14:58] jrd commented on #53
Same here, only sometimes. I use your plugin for about 2 years. I use rearrange option.

IntelliJ IDEA (Community Edition) 2017.1 EAP
Build #IC-171.2272.14, built on January 12, 2017
JRE: 1.8.0_72-b15 amd64
JVM: Java HotSpot(TM) 64-Bit Server VM by Oracle Corporation

Plugin version : 0.12

[2017-01-14 10:54] marcosbento commented on #55
Yep, seems that is is pretty straight forward. The (very small) pull request #65 adds the ability to add missing `@Override` annotations.

[2017-01-16 02:12] ranbest opened #66 "Must not modify PSI inside save listener"
Must not modify PSI inside save listener
com.intellij.util.IncorrectOperationException: Must not modify PSI inside save listener
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:144)
	at com.intellij.psi.impl.DocumentCommitThread$9.run(DocumentCommitThread.java:915)
	at com.intellij.psi.impl.source.codeStyle.CodeStyleManagerImpl.lambda$performActionWithFormatterDisabled

[2017-01-19 10:45] dubreuia commented on #66
Duplicate #53

[2017-01-19 10:45] #66 closed

[2017-01-20 21:51] spencero91 commented on #18
Any way we could get this added to the Jetbrains' plugin repository for PhpStorm?

[2017-01-22 19:47] dubreuia commented on #55
Thanks @marcosbento! Pull request #65 merged in master and plugin version 0.13 released with your modification.

[2017-01-22 19:47] #55 closed

[2017-01-22 20:11] dubreuia commented on #18
Hey @spencero91, try the save-actions zip I uploaded in this issue, you can import it directly in PhpStorm.

I don't want to upload it to the plugin repository just now, I haven't tested it in all products, and I don't have time to correct all the issues that are opened only for intellij...

The code is on branch master-all-product.

Keep me posted if that works for you

[2017-01-28 17:32] markiewb commented on #10
PR for this issue https://github.com/dubreuia/intellij-plugin-save-actions/pull/68

[2017-01-31 21:41] DQvsRA opened #69 "WebStorm Support"
Hi
Good and very useful idea for plugin.
So, it possible to install plugin for WebStrom but there is no "Other Settings" in IDE.
How can i use it for WebStorm IDE?

[2017-02-01 14:48] dubreuia commented on #69
I never tested it in WebStorm (one reason is that I don't have a license) but I'll try to check it out when I have time.

[2017-02-01 20:32] markiewb commented on #69
Perhaps you can asl JB to get a free OSS license of Webstorm

https://www.jetbrains.com/buy/opensource/

Den 1 feb. 2017 15:48 skrev "Alexandre DuBreuil" <notifications@github.com>:

[2017-02-01 23:57] krasa commented on #69
You could probably use EAP for now https://confluence.jetbrains.com/display/WI/WebStorm+EAP

[2017-02-08 22:59] markiewb commented on #69
Duplicate of #18

[2017-02-08 23:02] markiewb commented on #51
FYI the same issue occurs when you have the XText/XTend plugin installed

[2017-02-09 14:19] gendalfas commented on #53
I also hit this rather frequently by now.

Not using code rearrange, what I have enabled:
Organize imports
Qualify field access with this
Remove unnecessary semicolon
Add missing @Override notations

[2017-02-10 21:21] dubreuia commented on #51
Yeah, some plugin seems to change the frequency of document write.

I was thinking maybe I could try to check event source like in this PR #46 and maybe filter anything that doesn't come from Intellij.

[2017-02-10 21:25] dubreuia commented on #53
I still can't reproduce this one. Can you post a full text stack trace @gendalfas? (or anybody else)

I'd prefer understanding why this happens than putting a big try / catch

[2017-02-10 21:28] dubreuia commented on #34
WNF

[2017-02-10 21:28] #34 closed

[2017-02-10 21:28] gendalfas commented on #53
Will do so once back at work. I have noticed that the stack traces actually differ somewhat midway, so that actually might be of help finding the actual cause.

[2017-02-10 21:29] dubreuia commented on #10
Merged v0.14

[2017-02-10 21:29] #10 closed

[2017-02-10 21:29] dubreuia commented on #35
WNF

[2017-02-10 21:30] dubreuia commented on #36
Coded scala with the scala plugin recently, this issue is still present

[2017-02-10 21:31] dubreuia commented on #37
Duplicate #18

[2017-02-10 21:31] #37 closed

[2017-02-10 21:33] dubreuia commented on #40
Duplicate #53

[2017-02-10 21:33] #40 closed

[2017-02-10 21:33] dubreuia commented on #53
There's a possible solution in #40

[2017-02-10 21:35] dubreuia commented on #42
Is that still present? I never merged #46 because I couldn't figure out what it was for.

[2017-02-10 21:35] dubreuia commented on #45
WNF

[2017-02-10 21:35] #45 closed

[2017-02-10 21:36] dubreuia commented on #47
WNF

[2017-02-10 21:36] #47 closed

[2017-02-10 21:36] dubreuia commented on #48
WNF

[2017-02-10 21:36] #48 closed

[2017-02-10 21:37] dubreuia commented on #50
WNF

[2017-02-10 21:37] #50 closed

[2017-02-10 21:38] dubreuia commented on #60
Duplicate #36

[2017-02-10 21:38] #60 closed

[2017-02-10 21:40] dubreuia commented on #64
Duplicates #18

[2017-02-10 21:40] #64 closed

[2017-02-10 21:40] dubreuia commented on #69
Thanks for the EAP and OSS license tips guys

[2017-02-10 21:40] dubreuia commented on #69
Duplicates #18

[2017-02-10 21:40] #69 closed

[2017-02-10 21:41] dubreuia commented on #18
Check #69 for licences to test in all products

[2017-02-14 13:27] mmedic commented on #53
It's still happening. For me when creating a new maven project.

IntelliJ IDEA 2016.2.4
Build #IU-162.2032.8, built on September 9, 2016

JRE: 1.8.0_112-release-b343 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

Must not modify PSI inside save listener
com.intellij.util.IncorrectOperationException: Must not modify PSI inside save listener
	at com.intellij.pom.core.impl.PomModelImpl.runT

[2017-02-15 10:31] markieww opened #70 "Conflicting component name 'SaveActionSettings': class uk.co.ben_gibson.repositorymapper.Settings.Settings and class com.dubreuia.model.Storage"
[code]

[2017-02-15 10:33] markieww commented on #70
I guess it has been introduced by
https://github.com/dubreuia/intellij-plugin-save-actions/commit/1c09d697fce2d6fd24edccdcedabd6b0928d4b9f

or it is a side effect of switching from global to project specific settings storage?

[2017-02-16 13:19] sulmansarwar opened #71 "Exception in plugin Save Actions. Moments ago. Occurred once since the last clear. Unread. Disable Plugin..."
Must not modify PSI inside save listener
com.intellij.util.IncorrectOperationException: Must not modify PSI inside save listener
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:144)
	at com.intellij.psi.impl.DocumentCommitThread$9.run(DocumentCommitThread.java:915)
	at com.intellij.psi.impl.source.codeStyle.CodeStyleManagerImpl.lambda$performActionWithFormatterDisabled

[2017-02-19 18:44] dubreuia commented on #70
Oh god this is awful, it is a name clash with another plugin : https://github.com/ben-gibson/jetbrains-open-in-git-host/blob/master/src/uk/co/ben_gibson/repositorymapper/Settings/Settings.java

I'll have to change the name of the storage...

Does the plugin still work for you? I don't have a workaround (except deactivating the "Open in Git host" plugin). I'll try to fix that ASAP

[2017-02-19 18:46] dubreuia commented on #71
Duplicates #53

[2017-02-19 18:46] #71 closed

[2017-02-20 20:28] markiewb commented on #70
It happens when you change a setting. The saveaction settings won't be saved.

I do not why the author of the other plugin chose such a duplicate name? Perhaps he copied code from this plugin?

[2017-02-22 09:31] dubreuia commented on #70
No it's just bad luck. Parameter "name" in State annotation.

`@State(name = "SaveActionSettings",
    storages = {@Storage(id = "default", file = StoragePathMacros.PROJECT_CONFIG_DIR + "/settings.xml")}
)`

[2017-02-24 22:41] ccsplit commented on #42
It was present when I was working with my old company on the latest branch. However, worked when using Krasa's branch. So it is up to you whether you want to close the issue/merge.

[2017-03-14 13:18] slawalata commented on #53
I still get this message

[code]

on

[code]

[2017-03-14 14:05] gendalfas commented on #53
I was waiting to post the stacktrace, but honestly - the issue went away with an update. currently
IntelliJ IDEA 2016.3.5
Build #IC-163.13906.18, built on March 6, 2017
JRE: 1.8.0_112-release-408-b6 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

Save Actions Version: 0.14

[2017-03-16 00:05] markiewb commented on #70
@dubreuia: Could you fix it?

[2017-03-16 09:08] meonlol opened #72 "Add custom formatter selection"
We would like to select the google-java-format plugin as default formatter as save-action.

This could be implemented as a selection drop-down or, since I see you inherit from IntelliJ's Formatter directly, by providing a way to execute custom macros.

[2017-03-16 13:38] dubreuia commented on #72
There is already a similar request #61, but I'm really not sure I want to step outside what is provided in "Settings > Editor > Code Style > Java > Scheme > Your scheme", which is the formatting style the save-actions plugin will use.

If I can easily retrieve the available formaters and put them in a drop down that might work. Custom macros have also been asked before, but this is lots of work.

[2017-03-16 13:40] dubreuia commented on #70
No time for now. I think the correction is just to change state name to "com.dubreuia.SaveActionSettings".

[2017-03-16 20:47] markiewb commented on #72
I would not invest time for this, until the google-java-format plugin is compatible to 2016.3+. Google has to fix it first.

https://github.com/google/google-java-format/issues/115

[2017-03-16 20:54] markiewb commented on #70
@dubreuia: Yes that looks reasonable.

[2017-03-24 05:59] Veeramanikandan1493 opened #73 "Project Specific Settings Stored Outside .idea folder"
We have been using Intellij 14 on Ubuntu 16.04.
Project inherits default settings of the plugin from Intellij.
But **saveactions_settings.xml** file being saved on  **/home/userName** location instead of **.idea** folder of project as mentioned at [https://github.com/dubreuia/intellij-plugin-save-actions](url)

[2017-03-24 09:55] dubreuia commented on #73
I'm pretty sure they changed the way the settings files are saved around Intellij 15, and I'm using that new storage API. I'm actually surprised it works in 14...

I can check if I can retrofit the functionality to an old Intellij but I'm not sure that's possible.

[2017-03-30 09:24] web2brain commented on #53
I have the same problem and stumbled upon this report:
[https://intellij-support.jetbrains.com/hc/en-us/community/posts/206760065-IncorrectOperationException-Must-not-modify-PSI-inside-save-listener](https://intellij-support.jetbrains.com/hc/en-us/community/posts/206760065-IncorrectOperationException-Must-not-modify-PSI-inside-save-listener)
As you also change the file while it's being written, ma

[2017-03-30 13:12] dubreuia commented on #53
Thanks @web2brain that should work, I'll try it

[2017-03-30 17:12] markiewb commented on #53
Sounds good

Den 30 mars 2017 15:12 skrev "Alexandre DuBreuil" <notifications@github.com

[2017-03-30 22:44] bentemple commented on #18
For AS 2.3 I was able to download the latest version from https://plugins.jetbrains.com/plugin/7642-save-actions and then just install from within android studio:

**Android Studio (Menu) -> Preferences -> Plugins -> Install plugin from disk...**

Works just fine for me. The settings for it can be found under **Other Settings**

[2017-03-31 06:14] mik047 opened #74 "Must not modify PSI inside save listener"
Stacktrace:
[code]

[2017-03-31 22:57] seantcanavan commented on #74
Received this exception as well immediately on my first use.

IntelliJ IDEA 2017.1
Build #IU-171.3780.107, built on March 22, 2017
JRE: 1.8.0_112-release-736-b13 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.4

[code]

[2017-04-02 12:06] markiewb commented on #74
I guess it is a duplicate of https://github.com/dubreuia/intellij-plugin-save-actions/issues/53

[2017-04-04 12:18] edwardmp commented on #74
Same issue here.

[2017-04-05 03:20] xinkunZ opened #75 "[Build action] Add update resources on save in debug mode"
IDEA will compile java files and make modules before run/debug，so we need not compile java file after save action every time.  I want to know if the [compile file] option can only work on debug model？ THX！

[2017-04-05 16:48] dubreuia commented on #18
Yeah it works as-is for Android Studio because it is a Java IDE. The other products will need the zip that is packaged in this issue.

[2017-04-05 16:48] dubreuia commented on #74
Duplicates #53

[2017-04-05 16:48] matthewadams commented on #18
Just tested in WebStorm 2017.1. Appears to work.  Suggestions:
* Include an option to reformat when the editor autosaves.  The behavior I'm currently seeing is that reformatting is only taking place if I hit Ctrl-S/Cmd-S.
* Place language-specific configuration options in language-specific sections.  For example, "Organize Imports", "Rearrange fields ..." and "Compile File" only make sense for com

[2017-04-05 16:52] dubreuia commented on #75
The idea behind the "compile on save" is that the projet is ready to go as soon as you hit "Run / Debug".

Actually there was a "update resources on save" feature before that was very handy in debug mode, it would hot-reload the classes / resources (when possible) during your debug session. I removed it because it was not working properly, but I'd really like to add it again.

[2017-04-05 17:02] dubreuia commented on #18
Hey @matthewadams thanks for the testing and the tweet I appreciate it.

Actually, that should work. The autosave in Intellij is somewhat finicky, the easiest way to force it is by losing focus. Try (1) change a formatting or add unused import (2) click on another non-intellij window. It should reformat. That's the whole point of the plugin: not to think about it.

There is already a classificatio

[2017-04-05 17:56] matthewadams commented on #18
Yes, it worked when WebStorm lost focus.  Maybe you should open an issue with JetBrains to get more consistent notification of autosave so that the behavior is consistent, but that's up to you.  Is there a more standard place from which to download the plugin than this issue now that it's been confirmed to work on other JetBrains products?  Thanks again!

[2017-04-05 23:25] madorb commented on #41
I'll third this request! would love to have that as a separate option!

[2017-04-07 11:58] gendalfas commented on #53
after a while without seeing this, it popped up again.
IntelliJ IDEA 2016.3.5
Build #IC-163.13906.18, built on March 6, 2017
JRE: 1.8.0_112-release-408-b6 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
SaveActions Version: 0.14

`Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: Attempt to modify PSI for non-committed Document!
	at com.intellij.pom.core.imp

[2017-04-10 01:59] xinkunZ commented on #75
OK,thanks! Another question is that if I'm editing code with IDEA setting [save files automactically... ... 5 sec ], also I select [complie file] and  [reformate file] options in save action, when I stop edit code, the synchronization will notify save action to compile and formate file, but actually I haven't finish my code, so compile and formate will bring some error, How can I avoid this situat

[2017-04-10 07:21] markiewb opened #76 "Do not invoke save actions if there are compile errors"
As described in https://github.com/dubreuia/intellij-plugin-save-actions/issues/75#issuecomment-292832115 the formatter-on-save could mess up the code while there are still compile errors, because the user has not finished typing.

[2017-04-10 07:27] markiewb commented on #75
@xinkunZ: "...so compile and formate will bring some error..." See #76. Comment your issue there.

[2017-04-11 06:30] markiewb commented on #70
I created a PR for the other plugin - https://github.com/ben-gibson/jetbrains-open-in-git-host/pull/37

[2017-04-19 13:53] BenjaminVanRyseghem opened #78 "Add a checkbox to mute notifications"
sorry, I got confused. Please ignore me :smile:

[2017-04-19 13:55] #78 closed

[2017-04-21 07:07] goerge opened #79 "Check possible values for annotation @SuppressWarnings"
Given the following class
[code]
which is only used in test in the same package.
When option "suppressAnnotation" is switched on, the @SuppressWarnings("WeakerAccess") is removed which in turns leads IntelliJ to warn "Acess can be package-private".

[2017-04-21 11:49] rw00 opened #80 "Exception: Must not modify PSI inside save listener"
I think Jalopy and Save Actions plugins are interfering with each other because Triemax Jalopy by default formats the file on save and I can't find the option to disable it.

Note that the checked option 'Rearrange fields and methods' is working but it always firing the exception below. Even though Jalopy is supposed to rearrange the fields and methods it isn't due to a bug in it. And this is why

[2017-04-21 18:02] markiewb commented on #80
Duplicate of #53

[2017-04-23 13:56] dubreuia commented on #78
Test post please ignore https://www.reddit.com/r/pics/comments/92dd8/test_post_please_ignore/

[2017-04-23 14:05] dubreuia commented on #79
I could say it's not my fault, because I'm just using the "fix unused annotation" quickfix from Intellij, I'm not deciding how it works.

I'm pretty sure Intellij has a list of values for @SuppressWarnings (each IDE / validation lib have a different set). The value "WeakerAccess" might not be a supported value (first time I see it actually).

I'll check if I can find the possible values at least,

[2017-04-23 14:06] #73 closed

[2017-04-23 14:06] dubreuia commented on #73
WNF

[2017-04-23 14:09] dubreuia commented on #80
Yeah the stack has nothing to do with Jalopy it is a bug in my plugin. Shouldn't prevent it from working though.

Duplicate of #53

[2017-04-23 14:09] #80 closed

[2017-05-04 19:26] IvanMwiruki opened #81 "Import existing Eclipse .epf file"
I have an Eclipse Workspace Mechanic .epf save action file. How can I make this plugin point directly to that instead of manually selecting options in the plugin's settings?

Contents of file:

[code]

[2017-05-05 18:50] markiewb commented on #81
But currently this plugin only supports a subset of all the possibilities of Eclipse save actions. See the feature set at https://github.com/dubreuia/intellij-plugin-save-actions

But the basic ones like format, organize members and imports and add overrides are possible.

[2017-05-17 14:58] sftwrengnr opened #82 "Execute save actions only when working in regular editor"
First: Thanks for building and maintaining this plug-in!

I think, the save actions should not be executed when code got changed & saved via a diff viewer. I know this behavior from Eclipse and actually miss it a lot. When editing via a diff viewer I want only to change exactly that spot I am working on, nothing else. This behavior, of course, could be made configurable.

Thanks a lot.

[2017-05-18 09:17] dubreuia commented on #82
OK I'll look into that. I'm not using the Intellij diff viewer so I never thought about that use case.

[2017-05-18 09:19] dubreuia commented on #81
@IvanMwiruki You mean importing the Eclipse file or actually syncing with it? The first is kind of easy, the second one is kind of a pain.

The idea of that plugin was to ease the transition for Eclipse to Intellij so it kind of makes sense to implement that, I just don't want to support many configuration file.

[2017-05-18 19:36] BullCheat commented on #53
Still the same problem:
`Must not modify PSI inside save listener
com.intellij.util.IncorrectOperationException: Must not modify PSI inside save listener
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:146)
	at com.intellij.psi.impl.DocumentCommitThread.lambda$doActualPsiChange$8(DocumentCommitThread.java:868)
	at com.intellij.psi.impl.source.codeStyle.CodeStyleManager

[2017-05-18 20:22] IvanMwiruki commented on #81
I would love to be able to import it. Syncing would be nice but it's too much to ask for :P

[2017-05-24 19:13] dubreuia commented on #53
I'm trying a fix in version 0.15 that I'll release this weekend. Can't reproduce so I hope it works.

@BullCheat Cool d'avoir un bon feedback sur note site :-). Check notre blog tech et notre github si ça t'intéresse https://github.com/lesfurets / https://beastie.lesfurets.com/

[2017-05-24 19:32] dubreuia commented on #53
https://media.giphy.com/media/niEnUBEHbY448/giphy.gif?response_id=5925df761649a9c40ca12ecd

[code]
(yes it works)

[2017-05-26 06:04] chengren311 commented on #53
@dubreuia I'm also having this issue, so there will be a possible fix for it on version 0.15 being released on weekend?

[2017-05-30 11:18] dubreuia commented on #76
I'm testing this one before releasing, this is really useful. We could make it default = true I think.

Thanks for the PR, I'm releasing 0.15 with it today

[2017-05-30 11:20] dubreuia commented on #53
I'm testing it right now I should be able to release it today.

The problem is: I can't reproduce so I'm just hoping I'm fixing the problem.

[2017-05-30 11:26] dubreuia commented on #54
The simplest way to do that would be to have a "temporary deactivate save action on this file" button with #59, that would exclude the file only for that save (next save is default behavior).

[2017-05-30 12:51] #76 closed

[2017-05-31 17:42] Delfic opened #83 "InteliJ IDEA 2017.1.3 hangs after saving"
I had a problem while saving files, even excluded ones where the IDE would hang for a while before letting me perform another action.

After a painful workday finally the IDE Fatal Error pop up showed up revealing the culprit. Here is the stack trace provided:

Stack trace `AWT events are not allowed inside write action: java.awt.event.KeyEvent[KEY_RELEASED,keyCode=17,keyText=Ctrl,keyChar=Undefine

[2017-05-31 20:43] MartinX3 opened #84 "Attempt to modify PSI for non-committed Document!"
Using v0.15 on IntelliJ Idea Ultimate v2017.1.3

"IDE Fatal Errors"
`Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: Attempt to modify PSI for non-committed Document!
	at com.intellij.pom.core.impl.PomModelImpl.a(PomModelImpl.java:353)
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:151)
	at com.intellij.psi.impl.source.tree.ChangeUti

[2017-06-01 15:29] dubreuia commented on #83
It might be the last version 0.15, first time I see this.

I'm going to check it out, please report if that happens more (and try to revert to 0.14 if it persists)

[2017-06-01 15:30] dubreuia commented on #84
Oh god #53 will never go away :(

I'm closing this one and reopening #53

[2017-06-01 15:30] #84 closed

[2017-06-01 15:30] dubreuia commented on #53
Not fixed

[2017-06-01 15:50] pjomcsJAVA commented on #83
I had the same problem in version 14! :(

[2017-06-01 20:46] MartinX3 commented on #53
I can confirm.
I have this Problem, since I'm using this addon.
(Since several versions of this plugin and of idea ultimate 2017.x.x)

[2017-06-01 23:46] zendu commented on #53
Crashes frequently for me.

IntelliJ IDEA 2017.1.3
Build #IU-171.4424.56, built on May 12, 2017
JRE: 1.8.0_112-release-736-b21 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

Must not modify PSI inside save listener
com.intellij.util.IncorrectOperationException: Must not modify PSI inside save listener
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.

[2017-06-02 20:36] markiewb commented on #70
@dubreuia Please close this issue! The other conflicting plugin has been fixed. So there is nothing to do here.

[2017-06-12 19:15] Delfic commented on #83
And another time
`AWT events are not allowed inside write action: java.awt.event.KeyEvent[KEY_PRESSED,keyCode=17,keyText=Ctrl,keyChar=Undefined keyChar,modifiers=Ctrl,extModifiers=Ctrl,keyLocation=KEY_LOCATION_LEFT,rawCode=0,primaryLevelUnicode=0,scancode=0,extendedKeyCode=0x0] on EditorComponent file=file://C:/SVN_BFA/BFAFREND-21075/implementation/resources/configuration-rm/integration-configurat

[2017-06-13 04:55] afwlehmann commented on #18
Any chance getting a recent version of the plugin with the patch? I'm looking for support in pycharm and CLion. Sorry if I've overlooked something, but IMO the link provided above refers to a patched v11 of the plugin.

[2017-06-22 08:52] dubreuia commented on #18
Hey @afwlehmann I'll try to repackage it with a recent version of the plugin. Honestly, not much changed for non-Java languages in recent versions.

I won't release it on the official plugin repository, I don't have time to maintain the plugin for Intellij IDEA, if I support all product I'll have thousand of new users I don't have time to support

[2017-06-22 14:23] dubreuia commented on #83
Corrected https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.16

[2017-06-22 14:23] #83 closed

[2017-06-22 14:23] dubreuia commented on #53
Corrected https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.16

[2017-06-22 14:24] dubreuia commented on #70
Thanks @markiewb !

[2017-06-22 14:24] #70 closed

[2017-06-22 16:56] afwlehmann commented on #18
@dubreuia Thanks a lot!

[2017-06-23 09:37] dubreuia commented on #18
@afwlehmann I repackaged the plugin for all products on version 0.17. This time I merged the code to master, but didn't activate the plugin for all product (the line is commented in the plugin.xml file). It is not in the plugin repository yet but I might add it soon.

I tested in PyCharm and it seems to work. Keep me posted if it works for you.

[save-actions_0.17.jar.zip](https://github.com/dubre

[2017-06-23 09:47] dubreuia commented on #18
Currently tested:

- PyCharm: OK
- AndroidStudio: OK (BUT exception quick fixes do not work, offending line META-INF/plugin.xml:73 do not load the java xml)

[2017-06-23 16:43] afwlehmann commented on #18
@dubreuia That's very much appreciated! I'll give it a try as soon as possible and let you know. Thanks :)

[2017-06-25 04:34] afwlehmann commented on #18
Works like a charm, thank you very much for your time and effort!

[2017-06-25 14:59] MartinX3 opened #86 "Must not modify PSI inside save listener!"
Using v0.16 on IntelliJ Idea Ultimate v2017.1.4

Was saving code after modifying a big comment.
(Added a space).

Must not modify PSI inside save listener
com.intellij.util.IncorrectOperationException: Must not modify PSI inside save listener
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:146)
	at com.intellij.psi.impl.DocumentCommitThread.lambda$doActualPsiChange$8(D

[2017-06-25 15:00] MartinX3 commented on #74
Reopened in #86 !

[2017-06-27 12:35] dubreuia commented on #18
Thanks @afwlehmann I'll slowly add supported products then. I'll add PyCharm for now

[2017-06-27 15:36] dubreuia commented on #86
Closing this one, reopening #74

[2017-06-27 15:36] #86 closed

[2017-06-27 15:38] dubreuia commented on #74
Yeah so it seems the try / catch doesn't work. I actually don't know how that is possible. The only reason I'd see is that IncorrectOperationException extends Throwable in some Intellij version (I'm catching Exception)

[2017-06-27 16:20] MartinX3 commented on #74
I though that ever exception needs to extend from "Exception"?

[2017-06-27 17:22] dubreuia commented on #74
Not sure I understand your question, but if I understand correctly, the superclass of Exception is Throwable, that you should never catch in Java since it also catches OutOfMemoryException (and others). If you look at the stacktrace, it doesn't make sense that the IncorrectOperationException is not caught since it extends Exception (if anybody have a view on that I'll take it).

[2017-06-27 18:27] Delfic opened #87 "Remove unused suppress warning annotations removes USED supress warning annotations."
Example

    public Button getActionButton(final String actionButtonId) {
        Button button = null;
        final ActionToolbar actionToolbar = this.getActionToolbar();

        if (actionToolbar != null && CollectionUtils.isNotEmpty(actionToolbar.getChildren())) {
            for (final Component component : new ArrayList<Component>(actionToolbar.getChildren())) {
                if ((compone

[2017-06-28 08:24] dubreuia commented on #59
Also add common commands like "add inclusions / exclusions"

[2017-06-28 08:27] dubreuia commented on #87
Thanks @Delfic I'll look into it.

This is somewhat similar to #79: I don't actually control what the processor does, I'm just calling Intellij code. We'll have two choices either (1) open a bug a Jetbrains (2) re implement the processor myself

[2017-06-28 09:27] MartinX3 commented on #74
I think you understand it correctly.
I'm a developer, too.

I thought that every exception extends from the "Exception"-Class and because you catch "Exception", all of its children classes should be catched. :)

But yeahr, no one should mindless catch every kind of exception, it could mess up the whole programm. :D

[2017-06-29 14:02] Robrowski commented on #35
Can this be reconsidered? The inclusions/exclusions is going to help me get by for a while, but ultimately I will have to stop using the plugin altogether without a feature like this. The inspections end up being far too disruptive for my team's code review process.

[2017-06-29 15:30] dubreuia commented on #35
Sure! I'm reopening.

I'll be honest thought this is a big development and it's not priority since it's very specific (lot's of bugs to correct before that). I'm not seing this done anytime soon without help from a PR.

[2017-06-29 17:43] abutun opened #88 "Must not modify PSI inside save listener"
I am getting this error since the last update.

Here is the stack trace

`Must not modify PSI inside save listener
com.intellij.util.IncorrectOperationException: Must not modify PSI inside save listener
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:146)
	at com.intellij.psi.impl.DocumentCommitThread.lambda$doActualPsiChange$8(DocumentCommitThread.java:868)
	at com.in

[2017-06-29 21:50] dubreuia commented on #88
Duplicate #74

[2017-06-29 21:50] #88 closed

[2017-07-03 23:10] letientai299 commented on #72
So now, Google have fixed their issue. How about this issue?

I have installed both plugins in IntelliJ IDEA 2017.2 EAP. And Save Actions still use default formatter. I still have to trigger Google Formatter manually (via `Ctrl-Alt-L`)

[2017-07-04 08:17] dubreuia opened #89 "Don't reformat generated files"
If content has `@Generated`, do not reformat. Make this an option

[2017-07-04 09:30] markiewb commented on #89
Why? Do you edit generated files?

Den 4 juli 2017 10:17 fm skrev "Alexandre DuBreuil" <
notifications@github.com>:

[2017-07-04 12:21] marmistrz opened #90 "[Build action] Add inspect code on save"

[2017-07-04 16:05] dubreuia commented on #90
Yes I'd like to add this one too, but if it is like "compile", it is a bit hard to do correctly.

[2017-07-04 16:16] marmistrz commented on #90
Where does the problem lie?

[2017-07-06 09:50] NikolayMetchev opened #91 "[Java inspection] Add quick fix make method static"
There is an inspection called "Method may be static". I would like the save actions to automatically action that inspection. (This has the potential to propagate through several methods)

[2017-07-07 12:53] dubreuia commented on #91
Sure! Could you do a PR for it? Really easy, same as a13f080cd631f7e0677af32082b1dec5e1d46cf0 you just have to find your inspection.

[2017-07-12 05:56] funnyrabbit87 opened #92 "auto scroll to the file first line when checked organize imports"
I found edit will auto scroll to the first line when  i checked organize imports after edit file.
My intellij version is 2017.1.5, it will auto save changes. Anyone have same issue?

[2017-07-12 07:01] aalosious commented on #35
+1 on the enhancement.. The Eclipse "Save Actions" already supports this.

Below is why this would be a big enhancement for my use case:
I often keep manual formatting to enhance readability and uncluttering (like adding newlines where the auto-formatter wouldn't). Right now, I have to worry about the plugin undoing my uncommitted formatting changes. So, I have to either untick the "Reformat file"

[2017-07-12 08:15] dubreuia commented on #59
Options:

- Don't reformat this file on next save
- Don't reformat any file on next save
- Add this file to inclusion / exclusion
- Quick activation of options

[2017-07-12 08:17] dubreuia commented on #35
Hello @aalosious, I'm not sure this plugin fits your use case: you either have a formatter that fits your usage and save-actions applies it automatically, or you don't use auto-something at all and do everything by hand.

For some files you might want to temporarily stop auto-formatting (like: "don't reformat this file on next save") and that development is in #59

[2017-07-12 08:19] dubreuia commented on #92
I cannot reproduce @funnyrabbit87... what I did:

- Add unused import
- Scroll down
- Change window to force auto-save (triggers save-actions)
- It doesn't scroll back to first line

[2017-07-13 03:18] funnyrabbit87 commented on #92
in my case(i tried again and again)
There is a import line in java file
import static com.pkg_name_is_long. classname .methodName
package name is very long

1.Checked organize imports, ReformateFile and Reformate Only Changed Code.
the import code will wrapped as below
import static com.pkg_name_is_long. classname
                   .methodName
2.Scroll down
3.edit file write some code and wait 1

[2017-07-13 06:24] markiewb commented on #92
Can you please provide a sample file and a screencast (as gif) of the
issue!

Den 13 juli 2017 05:18 skrev "funnyrabbit87" <notifications@github.com>:

[2017-07-13 12:20] dubreuia commented on #92
Similar issue posted on stack https://stackoverflow.com/a/27706292/3253277

[2017-07-13 16:20] Delfic commented on #92
The problem is when the import is longer than the configured limit and you also have configured not to exceed the right margin.

This issue is already open for IDEA itself, thus, not being a save-actions issue
https://youtrack.jetbrains.com/issue/IDEA-161127

Vote for the issue, my team already did and if we vote more and more we can make them fix this :)

[2017-07-13 18:47] dubreuia commented on #92
Hey @Delfic thanks for the link on YouTrack. I voted on the issue and commented on it that it breaks my plugin.

I'm keeping this issue open as long as the Intellij bug is not resolved.

[2017-07-14 05:25] funnyrabbit87 commented on #92
@Delfic Thanks for your comment. I also voted.

[2017-07-18 11:22] realworld666 opened #93 "Add support for Rider"
Plugin doesn't seem to work in JetBrains Rider IDE

[2017-07-18 11:27] dubreuia commented on #93
I didn't event know that existed. Can you please test the zip in #18 issue? It should work in all products (unzip, then import jar in Rider).

If it does, post back here and I'll activate it for Rider in the plugin repository.

[2017-07-18 11:39] realworld666 commented on #93
It works so far as the settings are available in the settings menu but saving the file doesn't appear to perform any of the actions unless I'm doing something wrong

[2017-07-18 12:23] dubreuia commented on #93
No it probably doesn't work, I'll have to debug it myself.

[2017-07-26 07:03] gdecauwer opened #94 "Attempt to modify PSI for non-committed Document!"
This IntelliJ IDE error is thrown every once so often.  So far,  I can't actually link it to any specific action I'm doing at that time, except that it happens during editing.

-------------------------------------------------------------------------------------
"Exception in plugin Save Actions"

stack trace
Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: Attemp

[2017-07-27 11:49] dubreuia commented on #94
Duplicate #74

[2017-07-27 11:49] #94 closed

[2017-07-27 20:37] MartinX3 commented on #74
The code below will make this issue reproductable.
Or one of the causes making this issue.

`package de.martin;

import com.fasterxml.jackson.databind.JsonNode;
import de.predic8.intern.model.enumerator.JsonAction;

/**
 * Created by Martin on 19.07.17.
 */
public class Json   {
    private String action;
      private JsonNode object;

     /**
     * @deprecated Only for JacksonV2
     */
    @D

[2017-08-01 08:21] celogeek commented on #18
I can confirm it work as expected on the latest PyCharm on MacOS

[2017-08-02 22:16] ishannz opened #95 "couldn't find the plugin for Phpstorm 2017.2.1"
I tried to install from the jar file as well, but I couldn't find the configuration for "Save actions"

[2017-08-03 06:23] markiewb commented on #95
Duplicate of #18.

Please use the "beta"-version for other non-Idea-IDEs, which is provided
there. You could be a tester for the Phpstorm part!

[2017-08-03 08:12] dubreuia commented on #95
Hey @ishannz, which jar file did you use? If it's the one from the Jetbrains plugin repository, it only works in Intellij IDEA and PyCharm for now.

Can you test this one: [save-actions_0.17.jar.zip](save-actions_0.17.jar.zip)? Thanks

[2017-08-03 10:55] ishannz commented on #95
Hey @dubreuia, thanks for the update, I used the latest(version 0.16) jar file from the https://plugins.jetbrains.com/plugin/7642-save-actions .    save-actions_0.17.jar.zip file not found! may be the wrong file path, I will test it and let you know once i got the jar.zip

[2017-08-03 11:09] dubreuia commented on #95
https://github.com/dubreuia/intellij-plugin-save-actions/files/1097355/save-actions_0.17.jar.zip

[2017-08-04 09:03] ishannz commented on #95
@dubreuia Thanks, mate, it works like a charm!

[2017-08-04 10:04] dubreuia commented on #95
Reopening the issue.

Since it works, I'll re-upload the plugin in the plugin repository for PHPStorm.

[2017-08-04 16:28] bradcupit commented on #39
I've seen the same thing, but when I save the file the unformatted version gets written to disk.

**First save:** writes unformatted version to disk
**Second save:** writes formatted version to disk.

This only happens when the code needs to be formatted. If I type out a line of code and got the formatting correct myself, then it properly writes to disk the first time.

IntelliJ 2017.2
Save Action

[2017-08-07 10:53] dubreuia commented on #39
Thanks for the comment. I know this issue still exists but I haven't got around to fixing it. It also doesn't seem to happen all the time, but I definitely see it once in a while (when I commit to git then see a formatting change after the commit).

I'm pretty sure it has to do with multiple save event being thrown. I'm linking this old PR that filters duplicate events, it might help in that case:

[2017-08-08 10:04] alexander-doroshko commented on #61
For Dart developers: since IntelliJ IDEA / WebStorm 2017.2 you may enable 'Use the dartfmt tool when formatting the whole file' option in Settings (Preferences) | Editor | Code Style | Dart | Dartfmt tab. It makes standard 'Reformat Code' action call `dartfmt` (aka Dart Style) tool instead of using IDE's own formatter. As a result 'Save Actions' plugin will cause `dartfmt` tool to work on save.

[2017-08-08 10:51] dubreuia commented on #61
Yeah! This is good news.

[2017-08-08 15:37] dubreuia commented on #18
New version 0.18 should work in PyCharm and PhpStorm

[2017-08-08 15:38] dubreuia commented on #95
Version 0.18 from Jetbrains repo should work

[2017-08-08 15:38] #95 closed

[2017-08-09 14:12] charlouze opened #96 "Automatic addition of this and final qualifier no longer works in 0.18"
As my title says, this. and final qualifier are not added automatically to my code since I updated to 0.18...

Here are some informations about my intellij version:

IntelliJ IDEA 2017.2.1
Build #IU-172.3544.35, built on July 31, 2017
JRE: 1.8.0_152-release-915-b6 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.10.0-30-generic

[2017-08-09 14:21] charlouze commented on #53
You should probable reopen as i still have the issue.
Here are my intellij about:
IntelliJ IDEA 2017.2.1
Build #IU-172.3544.35, built on July 31, 2017
JRE: 1.8.0_152-release-915-b6 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.10.0-30-generic

ans here is the stack:
`Must not modify PSI inside save listener
com.intellij.util.IncorrectOperationException: Must not modify PSI inside

[2017-08-09 15:12] dubreuia commented on #96
@charlouze can you post your save-actions settings configuration please?

It seems some combination of quick fixes since #85 do not work

[2017-08-09 15:13] dubreuia commented on #53
This issue will hunt me forever

[2017-08-09 15:25] AbdElraoufSabri commented on #53
@charlouze What plugin version you used?

[2017-08-09 23:31] charlouze commented on #53
@AbdElraoufSabri The very last one ! (0.18)

[2017-08-09 23:33] charlouze commented on #96
@dubreuia Here are my settings:
[code]

[2017-08-10 13:38] MartinX3 commented on #53
[Does this code fragment helping you debugging this error?](https://github.com/dubreuia/intellij-plugin-save-actions/issues/74#issuecomment-318479384)

[2017-08-17 13:34] balbusm opened #97 "Narrow down Java inspections to modified code"
I noticed that Java inspections are not changed code sensitive.
I would be great if "Reformat only changed code" affected also Java inspections (ex. "Add final to local variable/field" would add final keyword to modified code, not entire file)
This is useful in situations when I do small change and I don't want to add final to all eligible places, but only to my newly added code.
Could you make Ja

[2017-08-17 21:12] MartinX3 commented on #93
I can confirm @realworld666 seen behavior with the 0.17.zip.

[2017-08-17 22:33] IvanMwiruki commented on #81
Hi, any update on this?

[2017-08-21 07:18] SchulteMarkus commented on #96
**Workaround**

[Use v0.16 of this plugin](https://plugins.jetbrains.com/plugin/download?updateId=36254) (from ["Save Actions" at plugins.jetbrains.com/](https://plugins.jetbrains.com/plugin/7642-save-actions))

[2017-08-22 07:52] anishdoshi opened #98 "Cannot perform save actions operations"
When I have operations in save action, the operations are not performed. I tried to play with the settings and I found this exception being logged:

[code]

My settings for Save Actions:
![Save Actions Settings](https://user-images.githubusercontent.com/3455042/29554477-a198d342-8762-11e7-9508-d66e3efe79dc.png)

[2017-08-22 09:17] dubreuia commented on #97
Duplicates #35

[2017-08-22 09:17] #97 closed

[2017-08-22 09:23] dubreuia commented on #18
- AppCode (todo)
- CLion (todo)
- DataGrip (todo)
**- IntelliJ IDEA (OK)**
**- PhpStorm (OK)**
**- PyCharm (OK)**
- Rider (todo)
- RubyMine (todo)
- WebStorm (todo)

[2017-08-22 09:23] dubreuia commented on #93
Duplicated #18

[2017-08-22 09:23] #93 closed

[2017-08-22 09:24] dubreuia commented on #81
Hello! No, but you can submit a PR anytime. Thanks

[2017-08-22 09:27] dubreuia commented on #96
I'm back from vacations, I'll look into this one this week. It is a regression from 0.18

Thanks @SchulteMarkus, the workaround should work.

[2017-08-22 09:28] dubreuia commented on #98
Duplicates #74

[2017-08-22 09:28] #98 closed

[2017-08-22 23:58] anishdoshi commented on #98
Does this mean that the issue is being worked on? The plugin is completely unusable now. It doesn't even qualify field access with this or any of the selected options when they are selected individually.

I really depend on this plugin and I have been using it for a very long time. Please let me know if I can be of any help here.

[2017-08-23 08:24] dubreuia commented on #98
Hi @anishdoshi. No it doesn't mean the issue is being worked on, it means this problem has been there for a while (pretty much always).

I'm pretty sure it's another problem you have, please check #96. Reverting to 0.16 might fix your issue.

You can always send a PR to correct the issues you are facing

[2017-08-23 19:07] markiewb commented on #96
I guess it is not the culprit.

Somewhere in https://github.com/dubreuia/intellij-plugin-save-actions/commit/966602c9bcc20fbe488cade17ace6bbbe57f1a8f must be the issue.

[2017-08-23 21:19] markiewb commented on #96
@dubreuia: Please see my PR #99, which solves this issue.

[2017-08-24 09:39] dubreuia commented on #96
Thank you so much for contributing to this plugin @markiewb, your fix seems to work. I've already pushed to master and tagged v0.19, I'm testing it this afternoon.

I'll publish it to the Jetbrains plugin repo this afternoon if it's good.

[2017-08-24 15:00] dubreuia commented on #96
Fixed v0.19

[2017-08-24 15:00] #96 closed

[2017-08-24 15:01] dubreuia commented on #92
I'm doing some cleanup, closing this one for now since it is an intellij bug

[2017-08-24 15:01] #92 closed

[2017-08-24 15:02] dubreuia commented on #90
I have a loop "build -> save -> build", I need to filter events

[2017-08-24 15:03] dubreuia commented on #89
@markiewb you are right

[2017-08-24 15:03] #89 closed

[2017-08-24 15:05] dubreuia commented on #79
Duplicates #87

[2017-08-24 15:05] #79 closed

[2017-08-24 15:08] dubreuia commented on #59
From #54

Comment: I would love to be able to save without save actions. ctrl-s (save with action) ctrl-alt-s (save without action) becouse sometimes it better not to.

From the comment section in : https://plugins.jetbrains.com/plugin/7642

[2017-08-24 15:08] dubreuia commented on #54
Duplicates #59

[2017-08-24 15:08] #54 closed

[2017-08-24 15:09] dubreuia commented on #63
From #54

Comment: I would love to be able to save without save actions. ctrl-s (save with action) ctrl-alt-s (save without action) becouse sometimes it better not to.

From the comment section in : https://plugins.jetbrains.com/plugin/7642

[2017-08-24 15:10] dubreuia commented on #63
Somewhat similar to #59

[2017-08-24 15:12] dubreuia commented on #61
Duplicates #72

[2017-08-24 15:12] #61 closed

[2017-08-24 15:13] dubreuia commented on #42
If someone needs it, reopen

[2017-08-24 15:15] dubreuia commented on #39
This is a problem also when building / executing tests. It does: "build -> save actions -> tests -> fail with stack trace -> the stack trace lines are the old ones" (meaning the file was not saved at the proper time)

[2017-08-24 15:24] Delfic commented on #92
Since I did what they suggested on https://youtrack.jetbrains.com/issue/IDEA-161127
Removing the "Ensure right margin is not exceeded! I have no such problem now. Our imports do exceed the right margin but that is not a problem for our team.

[2017-08-28 08:27] bikerp opened #100 "Reformat only changed code"
Hi,
I'm facing an issue with reformating the code. Although I have git properly configured in IntelliJ (2017.2.2) the whole file is affected even though I change only one line.
Thanks in advance for the fix.
Pavel

[2017-08-28 09:37] bikerp commented on #100
It's duplicate of issue #35. So you may close it.

[2017-08-28 12:14] dubreuia commented on #100
Hey @bikerp, no actually #35 is for inspections (the quick fix section in the settings). The option "Reformat only changed code" should apply on changed lines, the quick fix on the whole file.

[2017-08-29 06:02] bikerp commented on #100
Hi @dubreuia, I thougt that the reformat feature also includes inspections. And my comment was concerning inspections (particulary adding final to method parameters). Lately I found the #35 and figured out that inspections change whole file. So I'm sorry for confusion.

[2017-08-29 06:02] #100 closed

[2017-08-29 12:40] JacopoGobbi commented on #53
Hey @dubreuia unfortunately I am not able to reproduce the issue but I remember how I got mine:
1) I started editing a java class by writing: "lo".
2) The autocomplete popup appear
3) I click on firefox (then Intellij loses focus and my guess is that it also saves the file).
4) I get the error with stacktrace.

IntelliJ IDEA 2017.2.2
Build #IU-172.3757.52, built on August 15, 2017
JRE: 1.8.0_152-r

[2017-08-29 12:49] MattGurneyAMP commented on #53
Hi @dubreuia,

IntelliJ IDEA 2017.2.2
Build #IU-172.3757.52, built on August 15, 2017
Licensed to AMP / Matthew Gurney
Subscription is active until July 6, 2018
JRE: 1.8.0_112-release-287-b2 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 7 6.1

IDEA Project uses springboot, lombok, gradle etc...

I appear to be able to re-create the issue any time.
1) In IDEA, File -> Settings -> S

[2017-08-29 13:04] JacopoGobbi opened #101 "Color scheme breaks after save"
when saving, the main method got moved from bottom to the top of the class (there are other method in the class), this caused the color scheme to break.

![screenshot from 2017-08-29 14-01-52](https://user-images.githubusercontent.com/11658632/29822271-c87c637e-8cc2-11e7-98a1-b41c08408273.png)

[2017-08-29 13:08] JacopoGobbi commented on #101
it actually messed up a lot of things so that I had to reload the project:
1) One class reference was not being found
2) Ctrl+Click was highlighting in the wrong place

[2017-08-29 17:03] markiewb commented on #101
I guess you had compile errors or you haven't been done typing. Invoking
the save actions on an incomplete file can lead to such issues you
described.

 Enable the option "no action if compile errors"

Den 29 aug. 2017 3:08 em skrev "Jacopo Gobbi" <notifications@github.com>:

[2017-08-30 08:11] dubreuia commented on #101
@JacopoGobbi What other plugins are you using? Basically if the save-actions triggers while you are still typing / viewing the code, it's because another plugin is forcing file write more often than it should.

[2017-08-31 11:41] dubreuia commented on #53
I've corrected the problem, attached 0.20-RC should fix it. I'll test it a bit before releasing (if someone could help I'd appreciate that).

[save-actions_0.20-RC.jar.zip](https://github.com/dubreuia/intellij-plugin-save-actions/files/1266875/save-actions_0.20-RC.jar.zip)

[2017-08-31 11:42] dubreuia commented on #74
Duplicates #53 (see issue for fix)

[2017-08-31 11:42] #74 closed

[2017-08-31 17:10] adetalhouet commented on #53
Tested on a couple of classes, seems to fix the issue. Can't reproduce using @MattGurneyAMP steps.

+1 LGTM

`
IntelliJ IDEA 2017.2
Build #IC-172.3317.76, built on July 15, 2017
JRE: 1.8.0_152-release-915-b5 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.4
`

[2017-09-01 06:49] bartmark opened #102 "Changing pom.xml (Maven) leads to nonparseable pom"
If i change something in a pom.xml the auto save actions lead to corrupting the xml document.
This element &lt;project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"&gt;
is broken after saving with save actions plugin and leads to
<project a-i

[2017-09-01 08:14] dubreuia commented on #102
Hello @bartmark. I can't reproduce: can you post intellij version and any non-jetbrains plugins you have installed (like formatters), they tend to interact badly with save-actions.

[2017-09-01 08:16] dubreuia commented on #102
You can also exclude pom files from save-actions, in "Settings > Other > Save actions > Exclusions > +" then add an exclusion with pattern "pom.xml" (without the quotes)

[2017-09-01 11:27] dubreuia commented on #53
Released v0.20

[2017-09-01 11:27] #53 closed

[2017-09-01 16:15] dubreuia commented on #49
Gradle is prerequisite for unit tests https://www.jetbrains.org/intellij/sdk/docs/basics/testing_plugins.html?search=test. For a fixture test (see https://www.jetbrains.org/intellij/sdk/docs/tutorials/writing_tests_for_plugins/formatter_test.html) it launches intellij headless, so the test needs all intellij dependencies.

[2017-09-01 17:00] JacopoGobbi commented on #101
@dubreuia
![screenshot from 2017-09-01 17-58-38](https://user-images.githubusercontent.com/11658632/29979904-3bf998c0-8f3f-11e7-8398-1ab799087435.png)
Nothing too weird :/ I think maybe I could have compile errors as @markiewb described, I will update you on this now that finally #53 seems to be fixed :)

[2017-09-01 23:43] stevewheeler opened #103 "NoSuchMethodError: com.intellij.codeInsight.actions.RearrangeCodeProcessor"
In my IntelliJ IDE, I just updated to the latest Save Actions plugin, and the auto-formatting on save stopped working.

The instructions in this thread didn't fix the problem as I do not have the Rearrange options checked:

https://github.com/dubreuia/intellij-plugin-save-actions/issues/7

I only have "Activate save actions", "Organize imports", "Reformat file", and "Reformat only changed code" ch

[2017-09-02 08:29] markiewb commented on #103
@Steve I cannot reproduce it using

IntelliJ IDEA 2017.2.3
Build #IC-172.3968.16, built on August 22, 2017
JRE: 1.8.0_152-release-915-b11 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

Perhaps the code, which is used in com.dubreuia.processors.RearrangeCodeProcessor, uses API which has been changed from 2017.1.x to 2017.2.x. This plugin (I guess so) is developed/tested a

[2017-09-04 09:10] dubreuia commented on #101
@JacopoGobbi Can you post IDE info please?

[2017-09-04 09:29] dubreuia commented on #103
The constructor I'm using in 0.20 is the one added by this commit https://github.com/JetBrains/intellij-community/commit/10d97920c99352fee9cf03cbf1185771c4c56dfd and you don't seem to have it. I should't be using it since it is really recent (I try to have 1 year of backwards compatibility).

I think I got mixed up in the latest release with the SDK I used, I though I was building with (162.1447.2

[2017-09-04 11:29] MartinX3 opened #104 "Must not modify PSI inside save listener again v0.20"
Saved the following java file.
It is fine, that you don't have the import  io.*.
I saved the file without having the needed libraries, too.

[code]

Got the following error
Must not modify PSI inside save listener
[code]
[Settings](
https://user-images.githubusercontent.com/4518092/30024731-701a9860-9175-11e7-9260-5f927c10d7fa.png)

[2017-09-04 11:57] dubreuia commented on #104
Hey, the stack trace doesn't match tag v0.20, can you double check the plugin version? For example the method com.dubreuia.processors.RearrangeCodeProcessor.writeToFile was renamed to com.dubreuia.processors.RearrangeCodeProcessor.run.

[2017-09-04 12:04] MartinX3 commented on #104
Weird, I thought, I clicked on the restart button, after updating your wonderful plugin, which will hopefully be available for rider someday.

Many thanks, now it is at v0.20.
I will open a new issue, if this problem still exists. :)

[2017-09-04 12:04] #104 closed

[2017-09-04 12:33] JacopoGobbi commented on #101
IntelliJ IDEA 2017.2.2
Build #IU-172.3757.52, built on August 15, 2017
JRE: 1.8.0_152-release-915-b10 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.10.0-33-generic
I'm using Ubuntu Gnome 17.04

[2017-09-04 16:05] marioserrano09 opened #105 "New check to compile file only when project is running or debugging"
I just need Compile File action when project is debuging to auto reload classes changes.

[2017-09-05 08:13] dubreuia commented on #105
Hey @marioserrano09 thanks for your input. Don't hesitate to send a PR for your request.

Duplicates #75

[2017-09-05 08:13] #105 closed

[2017-09-05 08:15] dubreuia commented on #75
Add options so that while debugging, the plugin will:

- Reload classes
- Updates classes and resources

[2017-09-05 11:46] dubreuia commented on #103
Fixed in master I'll release the plugin later today

[2017-09-05 11:54] dubreuia commented on #18
Version 0.21 (https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.21) adds official support to AndroidStudio. I'd like to do WebStorm after

- *IntelliJ IDEA (OK)*
- *PhpStorm (OK)*
- *PyCharm (OK)*
- *AndroidStudio (OK)*
- WebStorm (todo)
- Rider (todo)
- AppCode (todo)
- CLion (todo)
- DataGrip (todo)
- RubyMine (todo)

---

If you are using that plugin, could you rate it on

[2017-09-05 16:26] dubreuia commented on #103
Fixed
---
If you are using that plugin, rate it on https://plugins.jetbrains.com/plugin/7642-save-actions

[2017-09-05 16:26] #103 closed

[2017-09-05 18:42] stevewheeler commented on #103
The fix worked great when I updated to version 0.21 of the plugin. Thanks for fixing this so quickly!

[2017-09-11 08:52] dubreuia opened #107 "In Android Studio 3.0 Beta 5 SaveActions 0.21 throws exception"
https://plugins.jetbrains.com/plugin/7642-save-actions

In Android Studio 3.0 Beta 5 SaveActions 0.21 throws exception "java.lang.AbstractMethodError: com.intellij.psi.codeStyle.CodeStyleManager.reformatTextWithContext(Lcom/intellij/psi/PsiFile;Lcom/intellij/psi/codeStyle/ChangedRangesInfo;)V"

[2017-09-13 08:46] elijah-ezaga opened #108 "java.lang.IndexOutOfBoundsException"
**Error Message** Got unexpected exception during formatting xyz.java: java.lang.IndexOutOfBoundsException: Wrong offset: 3971. Should be in range: [0, 3967]

**Occured in**
IntelliJ IDEA 2017.2.3
Build #IC-172.3968.16, built on August 22, 2017
JRE: 1.8.0_152-release-915-b11 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.4.0-93-generic

**Save Actions version** 0.21

[2017-09-13 09:23] kerner1000 opened #109 "Attempt to modify PSI for non-committed Document"
[code]

[2017-09-14 08:22] dubreuia commented on #108
Hello! Thanks for posting your issue, but I need a stacktrace. Can you look up the file "idea.log", you should find it at "~/.IntelliJIdea2017.2/system/log/idea.log" if your are using default locations.

[2017-09-14 08:27] dubreuia commented on #109
The return of #53 #66 #74 #86 #88. This time it is on AddThisQualifierFix, but I can't rewrite that one easily (like rearrange)

[2017-09-14 08:28] dubreuia commented on #109
Thanks for your submission @kerner1000 can you post IDE info please? ("Help > About > click on copy icon")

[2017-09-14 08:39] elijah-ezaga commented on #108
2017-09-13 10:41:08,191 [5238619]  ERROR - ns.AbstractLayoutCodeProcessor - Got unexpected exception during formatting PsiJavaFile:xyz.java
java.util.concurrent.ExecutionException: java.lang.IndexOutOfBoundsException: Wrong offset: 3971. Should be in range: [0, 3967]
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.util.concurrent.FutureTask.get(FutureTask.java:192)
	at com

[2017-09-14 09:50] kerner1000 commented on #109
[code]

[2017-09-15 23:24] jonathanpdx commented on #109
I've got a similar message:

IntelliJ IDEA 2017.2.4
Build #IU-172.4155.36, built on September 11, 2017
JRE: 1.8.0_152-release-915-b11 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: Attempt to modify PSI for non-committed Document!
	at com.intellij.pom.core.impl.PomModelImpl.a(PomModelImpl.

[2017-09-26 12:15] mmedic commented on #108
For me as well:
IDEA 2017.2.4
Save Actions version 0.21

Got unexpected exception during formatting PsiJavaFile:InterventionDaoImplIntegrationTest.java: java.lang.IndexOutOfBoundsException: Wrong offset: 487. Should be in range: [0, 482]
java.util.concurrent.ExecutionException: java.lang.IndexOutOfBoundsException: Wrong offset: 487. Should be in range: [0, 482]
	at java.util.concurrent.FutureTask.

[2017-09-29 19:29] markiewb opened #110 "WebStorm: Exception on Save when "compile file" is checked"
The option "compile file" was checked.
[code]

[2017-09-29 19:32] markiewb commented on #18
@dubreuia: 0.21 works in

WebStorm 2017.2.3
Build #WS-172.3968.27, built on August 29, 2017
JRE: 1.8.0_152-release-915-b11 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

Except #110

[2017-10-02 11:33] dubreuia commented on #18
OK I'll correct #110 and add support for WebStorm when I have time

[2017-10-02 11:34] dubreuia commented on #110
I'll just remove compile option, afaik it doesn't even work properly

[2017-10-02 16:59] markiewb commented on #110
Yes, remove it for products which don't provide this action/class

Den 2 okt. 2017 1:34 em skrev "Alexandre DuBreuil" <notifications@github.com

[2017-10-02 17:03] markiewb commented on #110
The compile action works - at least for Java code.  But only for the
current file. Classes,  which depend on the current file/class,  are not
compiled.

Den 2 okt. 2017 1:34 em skrev "Alexandre DuBreuil" <notifications@github.com

[2017-10-04 22:50] deepikamakkar commented on #109
I am getting the same error:
Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: Attempt to modify PSI for non-committed Document!
	at com.intellij.pom.core.impl.PomModelImpl.startTransaction(PomModelImpl.java:353)
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:151)
	at com.intellij.psi.impl.source.tree.ChangeUtil.prepareAndRunChangeActi

[2017-10-06 07:45] Nedorot opened #111 "File type exclusion"
Would it be possible to make it easier to exclude file-types ?
- Currently, the popup indicates the wrong regexp (.\*\\.properties instead of .\*/.\*\\.properties)
- It would be nice to be able to add a file extension without the whole regex...

Thanks for a great plugin !!!

[2017-10-06 14:14] dubreuia commented on #111
Hey @Nedorot, I already have a lot of features to implement and this is already supported so I won't implement it. I can correct the regex in the popup though.

You can send a PR for the feature, I'll close this one when I correct the regex.

[2017-10-11 08:30] dubreuia commented on #111
WNF

[2017-10-11 08:30] #111 closed

[2017-10-11 08:30] dubreuia commented on #110
That is the intended behavior. I'll look into it soon, I'd like to add more products

[2017-10-16 20:59] studgeek commented on #18
Is there a hurdle to just adding CLion also?

[2017-10-18 10:07] MartinX3 commented on #109
Restarting the application in debugmode in IntelliJ, after modifying a java-file.

[2017-10-18 11:24] NikolayMetchev commented on #87
Have you opened a bug with Jetbrains?

[2017-10-18 15:43] Delfic commented on #87
I didn't open a ticked. I've searched and did not find one. https://youtrack.jetbrains.com/issues?q=supressWarnings

[2017-10-18 16:38] NikolayMetchev commented on #87
I didn't see an inspection that corresponded to the functionality you are referring to. The unused code inspection has properties for fields, methods, etc... but no annotations. It makes me think that whatever code you are invoking is unused. Can you reproduce the bug in Idea?

[2017-10-18 16:47] Delfic commented on #87
Actually not, I've never found such functionality on IDEA. The closest I've found was an inspection for suppression that suggests to remove the annotations. Maybe it's invoking such inspection with the suggested resolution?

[2017-10-18 16:50] NikolayMetchev commented on #87
So is it possible that it is not a bug in the intellij code but there is some extra context that needs to be set up or passed in somehow? As it stands this feature in the save actions plugin cannot be enabled and therefore is useless.

[2017-10-18 17:10] Delfic commented on #87
@dubreuia What's your say in this? Is there any documentation on the API for the IDEA code you used? Is it the feature that I think it is?

@NikolayMetchev Not quite useless. One might want to not use any suppress warnings and might want to go through code and remove it. Not useless but might need a rebranding to "remove suppressWarnings annotations"

[2017-10-19 20:49] MartinX3 opened #113 "Got unexpected exception during formatting PsiJavaFile:Testklasse.java: java.lang.IndexOutOfBoundsException: Wrong offset: 1655. Should be in range: [0, 1623]"
[code]

[2017-10-20 13:47] MartinX3 commented on #113
[code]

[2017-10-22 12:35] dubreuia commented on #18
Hey @studgeek I've given up on testing the plugin on all Jetbrain's products, I let users do that and report it here.

You can install the plugin in CLion by downloading the latest version from https://github.com/dubreuia/intellij-plugin-save-actions/releases and then doing "File > Settings > Plugins > Install plugin from disk" and choosing the jar you downloaded.

[2017-10-22 12:40] dubreuia commented on #87
Hey @Delfic I'm using the quick fix class https://github.com/JetBrains/intellij-community/blob/306d705e1829bd3c74afc2489bfb7ed59d686b84/plugins/InspectionGadgets/testsrc/com/siyeh/ig/maturity/SuppressionAnnotationInspectionTest.java

I have no idea why it doesn't work the intended way, and honestly this is really low in the task list right now. You can look into it if you want! My best guess would

[2017-10-22 12:43] dubreuia commented on #113
Thanks @MartinX3, can you post IDE version, plugin version, and plugin configuration please? Jetbrains recently added range in the rearrange code, it might be the source of the bug.

[2017-10-22 12:46] dubreuia commented on #113
https://youtrack.jetbrains.com/issues/IDEA?q=java.lang.IndexOutOfBoundsException%20Wrong%20offset%20Should%20be%20in%20range

[2017-10-22 15:47] Delfic commented on #87
Hello @dubreuia. I would gladly help out on this one. Quick question: is the link you provided the right one? That seems like an  almost empty test case and not a "quick fix class". ^

I've tried looking for the LightInspectionTestCase to check on the doTest method but to no avail :(

Help me out here: where, in save-actions, is the call to this particular fix?

[2017-10-22 19:08] dubreuia commented on #81
Merged in master, this is a big version, I'll test it during the week before releasing it. Can you guys @markiewb @IvanMwiruki test it too please?

[save-actions_0.23-RC1.jar.zip](https://github.com/dubreuia/intellij-plugin-save-actions/files/1405242/save-actions_0.23-RC1.jar.zip)

[2017-10-22 19:20] dubreuia commented on #87
Sorry, this is the good link: https://github.com/JetBrains/intellij-community/blob/d19918722bcc19d449f0fdd762027db9cec3bf10/plugins/InspectionGadgets/src/com/siyeh/ig/maturity/SuppressionAnnotationInspection.java

- it is instancited here: com/dubreuia/processors/java/ProcessorFactory.java:58
- called here: com/dubreuia/processors/java/InspectionProcessor.java:96

I'll add some documentation to he

[2017-10-22 19:30] dubreuia commented on #87
Here: https://github.com/dubreuia/intellij-plugin-save-actions#development-environment

[2017-10-22 19:31] dubreuia opened #114 "The option Reformat only changed code(only if VCS configured) is not working"
From https://plugins.jetbrains.com/plugin/7642-save-actions

The option Reformat only changed code(only if VCS configured) is not working. Here is information of my environment. IntelliJ IDEA 2017.2.5 Build #IU-172.4343.14, built on September 26, 2017 JRE: 1.8.0_152-release-915-b12 amd64 JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o Linux 4.4.0-97-generic

[2017-10-22 19:34] dubreuia commented on #113
The stack goes in the code I copied from their source, it might be because there's a difference between my code and their new code com.dubreuia.processors.RearrangeCodeProcessor#prepareRearrangeCommand

[2017-10-22 19:39] dubreuia commented on #110
Fixed in 0.23-RC2, it also deactivates build in PyCharm, I think this is intended behavior since the compiler is probably platform based.

[save-actions_0.23-RC2.jar.zip](https://github.com/dubreuia/intellij-plugin-save-actions/files/1405269/save-actions_0.23-RC2.jar.zip)

[2017-10-22 22:55] Delfic commented on #87
@dubreuia Thank for the documentation. I think I've found the bug.

You're calling a class that implements the fixes for this inspections:
![inspectionsuppresion](https://user-images.githubusercontent.com/4091284/31867131-c3861844-b781-11e7-88ea-1edb7b4efc4a.png)

Regarding the description of the action and what started this bug report in the first place, I believe what you wanted to achieve was u

[2017-10-22 23:27] Delfic commented on #87
@dubreuia I've created a PR.
https://github.com/dubreuia/intellij-plugin-save-actions/pull/115

If anything is amiss, let me know. Thanks

[2017-10-23 08:11] dubreuia commented on #87
Thanks @Delfic I'll look into it.

[2017-10-23 08:50] Delfic commented on #87
Thank you for the opportunity :)

[2017-10-23 09:02] dubreuia commented on #87
NPE on save https://github.com/dubreuia/intellij-plugin-save-actions/pull/115

[2017-10-23 23:14] IvanMwiruki commented on #81
Thank you very much. I will try and test this out.

[2017-10-25 17:21] NikolayMetchev opened #116 "Exception in Idea"
This has only happened once. Thought you might like to know:

Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: Attempt to modify PSI for non-committed Document!
	at com.intellij.pom.core.impl.PomModelImpl.startTransaction(PomModelImpl.java:355)
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:151)
	at com.intellij.psi.impl.source.tree.C

[2017-10-26 11:02] dubreuia commented on #87
@Delfic I can't find why it doesn't work, I've reverted the change on master, you'll need to do a new PR

[2017-10-26 11:03] dubreuia commented on #116
Thanks @NikolayMetchev. Duplicates #109

[2017-10-26 11:03] #116 closed

[2017-10-26 11:09] dubreuia commented on #110
Fixed https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.23

[2017-10-26 11:09] #110 closed

[2017-10-26 11:10] dubreuia commented on #81
https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.23

[2017-10-26 11:10] #81 closed

[2017-10-26 11:10] dubreuia commented on #87
https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.23

[2017-10-26 11:11] dubreuia commented on #18
Added WebStorm in https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.23

- IntelliJ IDEA (OK)
- PhpStorm (OK)
- PyCharm (OK)
- AndroidStudio (OK)
- WebStorm (OK)
- Rider (todo)
- AppCode (todo)
- CLion (todo)
- DataGrip (todo)
- RubyMine (todo)

[2017-10-26 11:12] dubreuia commented on #81
Please rate the plugin if you use it https://plugins.jetbrains.com/plugin/7642-save-actions

[2017-10-27 09:24] MartinX3 opened #117 "Braces on single statement blocks"
Could there be an option, that removes braces from single statement if(), for() and so on?
Save Action places them at every for(), if(), etc, but in my company we use a refactoring book from martin fowler, which says, that you never ever put braces at a single statement block.

[2017-10-27 11:11] dubreuia commented on #117
No problem to add that quick fix, you do a PR anytime. Thanks

[2017-10-27 11:50] MartinX3 commented on #117
Thank you.

I advertise your plugin, where I can

[2017-10-27 13:58] quilicicf opened #118 "Run editor action on save"
Hi,

I was wondering if it could be possible to add an option to run an external tool on the file on save.

### My use-case

I've got a markdown that I edit and a script that parses it to generate the ToC.
I'd like to run the script each time I save the file.

[2017-10-27 15:10] quilicicf opened #119 "Only perform action if they are on the current file"
Hi,

We are have been using the save action plugin for a while in our team and noticed a behavior that we think is not ideal.
When using IntelliJ's reformatting capabilities, the save actions are applied on all impacted files.

This means that when we change the name of a method, we potentially have `final` keywords added in hundreds of files which ruins the pull request.

We thought maybe the sav

[2017-10-27 17:04] markiewb commented on #118
Use https://plugins.jetbrains.com/plugin/7177-file-watchers instead

Den 27 okt. 2017 3:58 em skrev "Cyprien Quilici" <notifications@github.com>:

[2017-10-29 20:11] quilicicf commented on #118
I'm not exactly sure file watchers is what I'm looking for, correct me if I'm wrong but what I gathered from looking at both these plugins was that:
* __File watchers:__ is to be used when one wants to generate other files from the file that are being edited.
  * Typical use cases:
    * Less files => one CSS file
    * JS files => one bundle file
* __Save actions:__ is to be used when the file cu

[2017-10-30 09:49] dubreuia commented on #119
Hey @quilicicf, thank you for your interest in the plugin.

First thought on your project: your formatting / code style is not correctly applied everywhere, you should reformat all files first, then use the plugin.

Concerning save-actions: the way it works is intellij keeps a list of "dirty" files, that are the files you have modified, but not yet written to disk. Those files go though save-actio

[2017-10-30 10:14] dubreuia commented on #118
Hey @quilicicf,

This was already asked for similar purposes see #72, and #61 that was actually implemented by jetbrains. I think what you're asking fits the save-actions plugin: "user modifies file -> save-actions automatically modifies it too -> intellij saves on disk"

The problem is that I'm not going to call a random script on disk, this is a security issue (commit a settings file and a scrip

[2017-10-30 10:20] dubreuia commented on #63
Released v0.23

[2017-10-30 10:20] #63 closed

[2017-10-30 10:20] dubreuia commented on #63
Please consider rating this plugin if you are using it: https://plugins.jetbrains.com/plugin/7642-save-actions

[2017-10-30 10:22] dubreuia commented on #108
Duplicates #113

[2017-10-30 10:22] #108 closed

[2017-10-30 14:18] quilicicf commented on #118
It looks like I'm gonna keep running the external tool by hand with a shortcut then, it's not that bad.

Thanks for taking the time to get into details!

I'm not sure if I should close this ticket or if you want to keep it open for reference, I'll let you guys see to it?

PS: Jonathan says hi too ;-)

[2017-10-30 14:27] quilicicf commented on #119
Well, we are working on an old code base that had never been even formatted before so we didn't want to bulk-change anything.
Plus reformatting everything should be done when no-one has an open development or there are craploads of merge conflicts, and that just never happens so we are stuck with progressive reformatting.

I'll try to get a look at the code but I can't promise anything, I've never

[2017-10-30 17:00] dubreuia commented on #118
I never realized that you could launch an external tool from Intellij... You can probably retrieve the Action with `ActionManager.getInstance().getAction("ACTION ID").actionPerformed(event);` so the save actions plugin could have a list of custom configurable actions to launch (ids).

I won't have time to implement that anytime soon, but it's definitely possible to do and and you can submit a PR a

[2017-10-30 18:25] quilicicf commented on #118
I'll get a look (not next month) thanks!

[2017-10-30 21:02] markiewb commented on #118
Yes, IDEA supports external tools. I guess there is also API to find and invoke the configured external tools.

The current integration of external tools is as follows
![image](https://user-images.githubusercontent.com/1857095/32194886-ef04b954-bdbb-11e7-9d4c-7dadad721c4a.png)
![image](https://user-images.githubusercontent.com/1857095/32194901-fa461ba0-bdbb-11e7-81d4-c01b474307f4.png)

[2017-11-02 10:52] dubreuia commented on #119
Hey @quilicicf,

I want to implement something that might be useful for your use case, it's #59, especially "Don't reformat any file on next save". That means you could (1) deactivate plugin on next save with a button (2) do refactoring change method name (3) the plugin won't do anything and reactivates by itself.

I need that feature so I'll develop it at some point, I though it might help you to

[2017-11-07 14:05] dubreuia opened #120 "Add multiple projects selection for configuration"

[2017-11-07 14:06] dubreuia commented on #120
This is the opposite of #10 (maybe add an option "apply to all projects")

[2017-11-09 10:00] aristotll opened #121 "Project Project (Disposed) snow-parent already disposed"
[code]
When I closes the project, this exception is thrown.

[2017-11-09 10:17] dubreuia commented on #121
Thanks I'll look into it.

[2017-11-09 14:13] nusmanov commented on #41
Hi,
could you tell us, if the feature "Add final to method parameters" is planned to be implemented?

ps: Thanks for this very helpful plugin.

[2017-11-09 14:59] dubreuia commented on #41
No it is not planned but you can submit a PR anytime. Everything you need to know to setup your environment is there: https://github.com/dubreuia/intellij-plugin-save-actions#development-environment

[2017-11-14 18:35] tspoke opened #122 "Add quick fix to kotlin language"
I use this plugin on all my projects and I like it a lot. I recently started a project in Kotlin and your plugin seems to not support it yet.

I would love to see a Kotlin support for this plugin. Any plan for this ?

Thank you.

[2017-11-15 09:52] dubreuia commented on #122
Hey @tspoke thank you for your interest in the plugin.

Kotlin is gaining speed right now, it's important that save-actions works for it. I'll check it out.

What IDE are you using? Intellij IDEA? IFAIK there's no dedicated Jetbrains IDE for Kotlin

[2017-11-15 14:15] tspoke commented on #122
Hi @dubreuia, thank you for your interest to this issue.

I'm using Android Studio, it's the intellij's Google version for Android dev. They support kotlin/java in the IDE natively (since v3).

[2017-11-15 22:34] markiewb commented on #122
@tspoke: What part of the plugin does not work? What exactly do you miss?

I tested it and the basic actions work. I created a kotlin/jvm project in IDEA, configured the Save actions plugin and the optimize imports and format actions where invoked while saving

[2017-11-15 22:57] tspoke commented on #122
My code is not formatted at all on my side with Android Studio IDE. Curly braces are not added to simple if/else. Spaces are not added. Looks like *.kt files are not processed.

Did I miss something ? Thanks

[2017-11-16 09:12] Scheka007 opened #126 "IDE Fatal Error occure "Attempt to modify PSI for non-committed Document!""
IDE Fatal Error occure "Attempt to modify PSI for non-committed Document!"
`Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: Attempt to modify PSI for non-committed Document!
	at com.intellij.pom.core.impl.PomModelImpl.a(PomModelImpl.java:353)
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:151)
	at com.intellij.psi.impl.source.tree.Ch

[2017-11-16 09:18] dubreuia commented on #126
Duplicates #109

[2017-11-16 09:18] #126 closed

[2017-11-16 09:20] dubreuia commented on #122
That's is Java only (for now) but the rest (reformat, spaces, etc.) should work for any langages.

@markiewb I think it is specific to Android Studio, looks like it works in IDEA

[2017-11-16 13:03] streamix opened #127 "AWT events are not allowed inside write action"
When formatting code in EclipseCodeFormatter triggered by the Save Actions Plugin after a git commit I get this Exception:

[code]

**IntelliJ version:**
IntelliJ IDEA 2017.2.5
Build #IU-172.4343.14, built on September 26, 2017

[2017-11-17 11:14] deevodavis71 opened #128 "Changes to multiple files, then Saving All causes multiple Rebuild tasks"
Let me start by saying I love this plugin as it's a massive time saver.

However one thing I've noticed in my project is that when I have "Compile file" checked in the Save Action plugin configuration it causes a Rebuild task for each file that has changed.

In "normal" development usage (i.e. making changes to a file, saving it, moving to a new file to continue work) this isn't an issue. It cause

[2017-11-17 15:36] dubreuia commented on #127
Thank you for submitting this issue. I'm not sure this come from save-actions thought, the stack doesn't say so. What makes you think this is a save-actions error and not an error in EclipseCodeFormatter?

How do you trigger EclipseCodeFormatter?

[2017-11-17 15:59] dubreuia commented on #128
Hey @deevodavis71, thank you for your interest in the plugin. I actually stopped using this feature personally because of this issue, and though I should remove it, but finally kept it thinking maybe people still use it.

This one is not easy since the plugin triggers per-file. We can detect if a build is currently happening, but we won't know what to do with the other save events incoming. If we

[2017-11-17 16:04] streamix commented on #127
I'm not sure if it is SaveActions or EclipseCodeFormatter. EclipseCodeFormatter is triggered by SaveActions

[2017-11-17 16:37] dubreuia opened #129 "The settings panel alignment is off"

[2017-11-18 19:11] deevodavis71 commented on #128
Thanks for your response Alexandre. I didn't think it would be an easy one...

I've just been tinkering with the Intellij keymap and found that if I remap CMD-S (on my Mac) from its original "Save All" to be "Rebuild Project" then it first saves all modified files and then starts a rebuild of the project.

On my test project here at home it seems  to be quite workable but will have to see on Monda

[2017-11-20 11:39] jiqimaogou opened #130 "Reformat only changed code"
Reformat only changed code  somethings reformat the entire file.

[2017-11-20 14:28] dubreuia commented on #128
Yeah, "Rebuild project" will trigger save-actions.

I just don't like the idea of having to press keys, it's not what we're trying to achieve with save-actions. Also, you'll probably be impacted by #39, save might occur after the build (so if save-actions cleanup erroneous imports, the build will still fail because it will occur before the cleanup)

[2017-11-20 14:30] dubreuia commented on #130
I need more info:

- Do you have a VCS configured in Intellij? (if not, the option will always reformat on whole file)
- What version of intellij and the plugin are you using?
- What do you mean by "somethings"? Sometimes? What times exactly?

Thanks

[2017-11-21 11:25] martijnsenden opened #131 "Prettier (or other terminal tool) support"
This is more of a feature request. It would be amazing if this plugin would support performing a command line command hooked to the save action.

I currently use File Watchers to help perform changes with [Prettier](https://github.com/prettier/prettier). I know Webstorm supports file watchers, but these are not just triggered when saving the current file, they are also triggered when files are cha

[2017-11-21 11:42] dubreuia commented on #131
Hey @martijnsenden,

This feature has been asked multiple times, see #118 for the most recent proposal. My stance on this: I'm not going to call a random command line command from save-actions, since save-actions settings are commited, this is an open door to remote code execution.

But I'm willing to add an action "Run external tool by id", then save-actions could run the external(s) tool(s). Ext

[2017-11-21 11:43] dubreuia commented on #131
Duplicates #118

[2017-11-21 11:43] #131 closed

[2017-11-21 12:42] im-martijn commented on #131
I don't have a Java build environment set up. I'm afraid I'll have to wait for someone to create the PR. I'm a frontend dev and I'm sure others would fix this better and quicker than I ever could.

[2017-11-21 12:45] martijnsenden commented on #131
I don't have a Java build environment set up. I'm afraid I'll have to wait for someone to create the PR. I'm a frontend dev and I'm sure others would fix this better and quicker than I ever could.

[2017-11-21 13:32] dubreuia opened #132 "Performance and feedback issue on big refactorings"
I have two issues with save-actions when refactoring code (500+ modified files)

- *performance*: the save-actions are applied individually for each files (that means potentially a new thread is started for each file / action)
- *feedback*: there is no UI feedback that something is happening (there should be some kind of progress bar)

It might means save-actions will need to have two modes: "norm

[2017-11-22 09:09] quilicicf commented on #119
That could help indeed!

[2017-11-22 09:30] dubreuia commented on #119
Version 0.24 adds toggle support https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.24

I used it yesterday

- Deactivate save-actions with toggle "CTRL + SHIFT + A > Search 'Enable save-actions'"
- Do refactoring
- Re-activate save-actions with toggle

You can also bind the activation / deactivation to a key, see https://github.com/dubreuia/intellij-plugin-save-actions#keyma

[2017-11-23 05:58] egmanoj commented on #132
I'd like to run Save Actions in "batch mode" for a directory/set of directories.

[2017-11-23 07:07] egmanoj opened #133 "IDE Exception"
Got the following exception when saving a file.

[code]

Product details

[code]

[2017-11-23 15:27] quilicicf commented on #119
Awesome thanks!
Only little caveat when using the shortcut: there's no visual cue that it's done anything.
Any way of doing that ? (if it's possible and I guess it'll be, I can contribute)

[2017-11-23 17:51] markiewb commented on #133
IMO a bug in IDEA. Please file an issue at https://youtrack.jetbrains.com/issues

[2017-11-23 17:54] markiewb commented on #129
Can you please post a screenshot!

[2017-11-23 18:08] markiewb commented on #119
Add Notifications to https://github.com/dubreuia/intellij-plugin-save-actions/blob/master/src/com/dubreuia/core/SaveActionToggleAction.java

The doc is here https://www.jetbrains.org/intellij/sdk/docs/user_interface_components/notifications.html

[2017-11-25 15:36] dubreuia commented on #129
In red in the screenshot. I don't understand how panel panel placement works in swing, I took took me way too much time to do this and it's still not aligned.

Also I'm unable to set a fixed width for the `FileMaskPanel` and `IdeSupportPanel` (the last two) so their size is defined by their content and it annoys me.

![settings-panel-not-left-aligned](https://user-images.githubusercontent.com/6577

[2017-11-25 15:37] dubreuia commented on #133
I don't know where it comes from, but it is a duplicate of #113

[2017-11-25 15:37] #133 closed

[2017-11-25 15:42] dubreuia commented on #119
Actually @quilicicf there is a visual cue, check out the "On / Off" on the right side of that screenshot. You can also add a notification if you'd like. I'd prefer an icon like the scala plugin (see #59) but I don't know how to do that

![intellij-save-actions-plugin-actions](https://user-images.githubusercontent.com/657731/33232035-8025fbc6-d1ff-11e7-81cb-57ee044bc732.png)

[2017-11-25 15:46] dubreuia commented on #59
The save-actions icon could look like the scala one:

![scala-plugin-deactivated](https://user-images.githubusercontent.com/657731/33232084-2228a2ac-d200-11e7-90e8-53dbb649efc0.png)
![scala-plugin-activated](https://user-images.githubusercontent.com/657731/33232085-24a9a6d4-d200-11e7-88c4-13d25c08029a.png)

[2017-11-25 15:47] dubreuia commented on #119
Added screenshots in #59 for what I'd like

[2017-11-27 10:51] quilicicf commented on #119
Actually, I've assigned a shortcut to `Enable save actions` directly.
![selection_010](https://user-images.githubusercontent.com/5594303/33263075-c06103a6-d368-11e7-89ef-e7cf6196b7eb.png)
When I'm using it, nothing shows on-screen. I have to open the action pop-up (your screen above) to confirm I have deactivated the plugin.

I'll try to have a look at how to add the icon like the scala plugin. I

[2017-11-27 12:38] dubreuia commented on #119
Oh I see. Yes in that case having a visual feedback makes sense.

For future reference, the scala plugin code where the button instanciation takes place is there: https://github.com/JetBrains/intellij-scala/blob/9198f8fb5b93d2ff142a65e320b812fc92cc0830/scala/scala-impl/src/org/jetbrains/plugins/scala/components/HighlightingAdvisor.scala

[2017-11-27 12:39] dubreuia commented on #59
The code is there: https://github.com/JetBrains/intellij-scala/blob/9198f8fb5b93d2ff142a65e320b812fc92cc0830/scala/scala-impl/src/org/jetbrains/plugins/scala/components/HighlightingAdvisor.scala

[2017-11-27 14:51] quilicicf commented on #119
Cool I'll have a look at that thanks!

[2017-11-29 16:02] GerritDeMeulder opened #134 "When working multi-window Android Studio, save actions plugin only works in the first instance."
It may be a luxury problem,
but when you're working multi-project in Android Studio 3.0 (and thus also multi-window),
i.e. opening a second project that has a demo in it, bit with bad code formatting,
the save actions plug-in only works in the original project that was opened first.

If it's easily fixed, that would be great, like the plug-in already is;
if not, then it's maybe nice to know this l

[2017-11-29 22:00] dubreuia commented on #134
Actually, this was the very first issue opened (almost 3 years ago omg) and it should work properly. It got fixed in #1 than #13.

It might be a Android Studio bug, because AFAIK it works in Intellij (I often have multiple windows opened too).

Can you post your idea.log please? Check https://github.com/dubreuia/intellij-plugin-save-actions#files-location

[2017-11-30 10:21] GerritDeMeulder commented on #134
Could it be drive related ? The reference projects are on another drive than my actual project. In any case, see log below (i have omitted project dirs for clarity).
It's working on the first opened project on D: drive, not on the one on C: drive. (tested with x=y spaces removal)
Also FYI: there is a shortcut command to get to the idea logs in the menu help>show log in explorer> gets you to the di

[2017-11-30 12:06] dubreuia commented on #134
Thanks for the shortcut in the "Help" menu I didn't know it.

I removed debug information last version, I don't have enough information. Your two projects are "ProjectTest" and "EU4YouSingleActivity" right? They both show in debug with proper configuration, I just don't know why the files don't get processed.

I'll try to reproduce

[2017-11-30 14:16] dubreuia opened #135 "[Java inspection] Add quick fix "tighten access inspection""
Submitted by email

It seems the inspection is already in intellij code, `AccessCanBeTightenedInspection`, adding it to `InspectionFactory` and in the settings panel should do the job.

I won't have time to do the dev, but a PR can be submitted anytime

[2017-11-30 16:54] GerritDeMeulder commented on #134
Glad to be of help,
Yes, the two projects are "ProjectTest" and "EU4YouSingleActivity".

[2017-12-06 12:26] d4rky-pl commented on #18
Just tested and it seems to work fine in RubyMine :)
(too bad it's not the plugin I was looking for 😂)

[2017-12-06 12:46] dubreuia commented on #18
Hey @d4rky-pl, thank you for telling us! I hope you'll find what you are looking for :)

I'll add it to supported products next version

[2017-12-07 10:41] cnsgithub opened #136 "Exception [Attempt to modify PSI for non-committed Document!]"
Hi, this seems to happen when viewing a file from the "incoming" section of svn, and save action plugin is enabled

Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: Attempt to modify PSI for non-committed Document!
	at com.intellij.pom.core.impl.PomModelImpl.a(PomModelImpl.java:355)
	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModelImpl.java:151)

[2017-12-08 11:32] smartwjw opened #137 "Support intellij setting repository"
I want use the same `save actions` settings for the whole team using [setting repository](https://www.jetbrains.com/help/idea/sharing-your-ide-settings.html), but I didn't seen the config  file after sync.

[2017-12-10 11:00] dubreuia commented on #137
Hey @smartwjw

I didn't know settings repository existed, I'll look into it. The settings are saved there https://github.com/dubreuia/intellij-plugin-save-actions#files-location so you can commit them in git, but I don't know how to add that to settings repository.

[2017-12-10 11:00] dubreuia commented on #136
Duplicates #109

[2017-12-10 11:00] #136 closed

[2017-12-12 18:17] mmedic commented on #113
Same issue for me:
Got unexpected exception during formatting PsiJavaFile:DateUtilsTest.java: java.lang.IndexOutOfBoundsException: Wrong offset: 1371. Should be in range: [0, 1366]
java.util.concurrent.ExecutionException: java.lang.IndexOutOfBoundsException: Wrong offset: 1371. Should be in range: [0, 1366]
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.util.concurrent.Fu

[2017-12-13 14:04] mmedic commented on #113
Was this fixed since it was closed?

[2017-12-18 13:34] hosswald commented on #130
Duplicate of #114.

[2018-01-02 14:15] quilicicf opened #139 "Final line feed removed"
Hi,

We've noticed recently with a colleague that save actions was removing the line feed at the end of files.
Problem is, the POSIX definition of a line states that it should end with a line feed. When this is not the case some scripts can't read the last line of a file (happened to us with shell scripts for example).

We've added a rule in our team to check the `ensure line feed` option of intel

[2018-01-06 19:15] dubreuia commented on #139
it's a config in intellij, make you have this option ticked.

![screenshot from 2018-01-06 14-14-13](https://user-images.githubusercontent.com/657731/34643081-06c037d4-f2ec-11e7-8d25-4c1388837bf6.png)

I'll close this issue if this works out for you.

[2018-01-08 06:35] egmanoj commented on #133
Have raised https://youtrack.jetbrains.com/issue/IDEA-184644 for this. Fingers crossed.

[2018-01-08 06:36] egmanoj commented on #133
Side effect: broken code. Line breaks appear arbitrarily, splitting keywords and thereby rendering the file non-compile-able.

[2018-01-08 09:25] quilicicf commented on #139
Well it seems the problem was with intelliJ. The checkbox was ticked but save actions was still removing the last line feed.
After the last upgrade of IntelliJ I can't reproduce anymore.
I'll try with my colleague's computer then close if we can't reproduce.
Thanks for the reply anyway :)

[2018-01-08 10:48] quilicicf commented on #139
It looks like it was indeed an IntelliJ issue.
It is fixed on my colleague's side too.
Sorry for the inconvenience.

[2018-01-08 10:48] #139 closed

[2018-01-08 10:57] nikowitt opened #140 "Add missing @Override broken after IntelliJ 2017.3.2 update on jdk inherited methods"
Hi there,

using Save Actions 0.24 after the latest IntelliJ update seems to somehow render "Add missing @Override" to do nothing. Other features like reformat code still seem to work.

IntelliJ IDEA 2017.3.2 (Community Edition)
Build #IC-173.4127.27, built on December 25, 2017
JRE: 1.8.0_152-release-1024-b8 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.11.2-041102-generic

Can th

[2018-01-08 15:27] dubreuia commented on #140
Yeah it seems it doesn't work anymore on `toString`, `hashCode`, etc. The quick fix "Annotate method with @Override" is not available anymore on those methods, and the save-actions plugin needs this to work.

Can you open a bug at Jetbrains with the above description please? At https://youtrack.jetbrains.com/

[2018-01-08 16:32] nikowitt commented on #140
Created
https://youtrack.jetbrains.com/issue/IDEA-184671.

[2018-01-08 22:43] markiewb commented on #140
See the comment at https://youtrack.jetbrains.com/issue/IDEA-184671
It is just a setting. Perhaps the default value has changed?

[2018-01-09 09:48] dubreuia commented on #140
I'm testing this today

[2018-01-09 15:09] dubreuia commented on #140
v0.25

[2018-01-09 15:09] #140 closed

[2018-01-09 15:10] dubreuia commented on #18
Added RubyMine in https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.25

-    IntelliJ IDEA (OK)
-    PhpStorm (OK)
-    PyCharm (OK)
-    AndroidStudio (OK)
-    WebStorm (OK)
-    RubyMine (OK)
-    Rider (todo)
-    AppCode (todo)
-    CLion (todo)
-    DataGrip (todo)

[2018-01-09 16:39] dubreuia commented on #133
Honestly opening bugs in another bug tracker saying "it think it's your fault" is sketchy AF. I never said anything like that and never will, unless I'm certain and I can prove my point.

I added a comment to https://youtrack.jetbrains.com/issue/IDEA-184644

[2018-01-09 17:01] egmanoj commented on #133
@dubreuia My apologies. I saw @markiewb's [comment](https://github.com/dubreuia/intellij-plugin-save-actions/issues/133#issuecomment-346674727) above, and mistook him for a maintainer. I'll comment in the IDEA issue accordingly.

[2018-01-09 18:45] markiewb commented on #133
Thanks for filing the issue. Perhaps it is only a bug in the code of this
plugin. The devs at Jetbrains could give us concrete  hints to use the API
properly.

Den 9 jan. 2018 6:01 em skrev "Manoj Govindan" <notifications@github.com>:

[2018-01-10 07:06] nikowitt commented on #140
Works fine, thanks for the quick response!

[2018-01-11 09:03] nikowitt commented on #87
From what I read from the thread, this issue is still open, right? I've just stumbled across this one with activated "Remove unused suppress warning annotation"

[2018-01-11 09:21] Delfic commented on #87
Yup, Stilll Open since we haven't figured out yet why the NPE occurs.

[2018-01-11 12:56] dubreuia commented on #87
Not sure either, you need to debug it and see with it occurs in intellij code. I'm pretty sure it has to do with the fact that instead of using `com.intellij.codeInspection.ex.LocalInspectionToolWrapper` like the other inspections, you're using the GlobalToolWrapper. There's probably a context variable to setup somewhere.

[2018-01-18 13:37] MicNeo commented on #130
Hi,

I have same problem, I've checked option to format only code changed by me, but e.g. it adds final keywords to vars in methods I haven't touched. I use git, and it works as expected. Do I need setup VCS somehow special to get it working with this plugin?

My Intellij version: 2017.2.2, plugin: 0.25

[2018-01-18 13:41] MicNeo opened #142 "Java inspection and quick fixes only form formatted code"
Would it be possible to run quick fixes only for changed code? e.g. I add new method, and I use final keywords for my variables, I want to added them automatically, but I don't want to do that for whole class.

[2018-01-18 15:32] #130 closed

[2018-01-18 15:33] dubreuia commented on #142
Hey @MicNeo. That would be great! You can submit a PR anytime to support that. Thanks.

[2018-01-18 15:34] dubreuia commented on #142
Check out https://github.com/dubreuia/intellij-plugin-save-actions#contributing and I'm available for help if needed.

[2018-01-18 15:35] dubreuia commented on #142
Duplicates #35

[2018-01-18 15:35] #142 closed

[2018-01-19 14:57] pascalschumann opened #143 ""Reformat only changed code" is not respected by "Add final to field/local variable""
Steps to reproduce:
1. Enable the Options:
"Reformat only changed code (only if VCS configured)"
"Add final to field"
"Add final to local variable"
2. change code in one file that is tracked by git.
3. save and you will see, it add final flags to untouched lines.

[2018-01-19 15:15] dubreuia commented on #143
Hey @pascalschumann. Thanks for the issue! This is not implemented but you can submit a PR anytime if you want to add it. Check out https://github.com/dubreuia/intellij-plugin-save-actions#contributing

[2018-01-19 15:15] dubreuia commented on #143
Duplicates #35

[2018-01-19 15:15] #143 closed

[2018-01-24 20:57] dubreuia commented on #49
Fixed 0.26

[2018-01-24 20:57] #49 closed

[2018-01-24 20:57] #51 closed

[2018-01-24 20:58] #107 closed

[2018-01-24 21:53] #36 closed

[2018-01-24 21:55] #62 closed

[2018-01-24 21:56] dubreuia commented on #72
Duplicates #118

[2018-01-24 21:56] #72 closed

[2018-01-24 21:58] #101 closed

[2018-01-24 21:59] #102 closed

[2018-01-24 22:04] dubreuia commented on #120
Related to #137

[2018-01-24 22:04] #120 closed

[2018-01-24 22:05] #121 closed

[2018-01-24 22:08] #127 closed

[2018-01-24 22:12] dubreuia opened #144 "Add fixtures test"
Prerequisite #49 done.

See https://www.jetbrains.org/intellij/sdk/docs/basics/testing_plugins.html and https://www.jetbrains.org/intellij/sdk/docs/tutorials/writing_tests_for_plugins.html

[2018-01-24 22:15] dubreuia opened #145 "Build multi release binary"
Only if it doesn't prevent users to use the plugin

[2018-01-27 12:58] dubreuia commented on #18
It seems it works in CLion too (https://twitter.com/LlewellynFalco/status/957228926719463424). I'm adding support in next version https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.26

[2018-01-29 17:09] nhajratw opened #146 "Save Actions not persisting"
When making changes to my file, I can see the Save Actions reformat flash in for a second, and then it gets undone within another second.

Save Actions version: 0.26

## IntelliJ version Info:
  IntelliJ IDEA 2017.3.3 (Ultimate Edition)
  Build #IU-173.4301.25, built on January 15, 2018
  JRE: 1.8.0_152-release-1024-b11 x86_64
  JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
  Mac OS X 10.13.2

[2018-01-29 17:23] nhajratw commented on #146
It turns out this was because there was a (new?) setting in Save Actions: "Remove unnecessary final to local variable or parameter".

I'm not sure why this setting exists. I can't figure out why you'd want to remove the finals, or what makes them unnecessary. Anyway, i unchecked this, and it works now.

[2018-01-29 17:23] #146 closed

[2018-01-30 09:17] dubreuia commented on #146
Hey @nhajratw, thank you for your interest in the plugin.

This settings exists because people use it: finals are arguably not very useful and very verbose. Whether or not you think that's true, the plugin is not taking sides (also see https://github.com/dubreuia/intellij-plugin-save-actions#java-fixes "If a quick fix adds something that is removed by another quick fix, the removal wins.")

Glad y

[2018-01-31 19:08] egmanoj commented on #113
Getting a different error after the latest update (both IDEA, and save actions)

[code]

[2018-02-02 11:29] pablogarciamiranda commented on #18
It's not working for me on WebStorm 2017.2.5

[2018-02-02 13:14] dubreuia commented on #18
Hey @pablogarciamiranda thanks for the update. I'll check it out.

[2018-02-02 15:02] dubreuia commented on #18
Hey @pablogarciamiranda thanks for the update. I'll just tested in "WebStorm 2017.3.4 Build #WS-173.4548.30, built on January 30, 2018" and it works. What is the problem?

[2018-02-16 10:27] dubreuia commented on #39
Hey @blowsie, thanks for reporting.

I know about this problem but I've been unable to fix it. It has something to do with how Intellij handles a file's life cycle. I'll probably find a way at some point but for now it doesn't work.

You can also see the problem with "Organize imports": if you have an unused import that is also a compile error (for example on a class that doesn't exists anymore),

[2018-02-18 07:16] Luberen opened #147 "Asterisk mark error"
I have checked 'Mark modified tabs with asterisk' option, but after I install this plugin, asterisk doesn't disappear even though I saved the file.

It usually occurs when I make new method blocks.

[2018-02-19 02:19] Luberen commented on #147
If I press save shortcut twice after make a block, the asterisk mark disappears. But it doesn't disappear at once.

In other situation there's no problem.

IntelliJ IDEA 2017.3.4 (Ultimate Edition)
Build #IU-173.4548.28, built on January 30, 2018
Save Action 0.26

[2018-02-19 02:23] Luberen commented on #147
I'm sorry.
I have to save shortcut twice to remove asterisk mark, but it was IDE's problem.

[2018-02-19 17:36] dubreuia commented on #147
I received that by email "I'm sorry. I have to save shortcut twice to remove asterisk mark, but it was IDE's problem."

I don't know why it's not showing here, but I'm closing this issue.

Thanks

[2018-02-19 17:36] #147 closed

[2018-02-23 14:12] blowsie commented on #118
It would be great to be able to run any webstorm action. This would enable you to use the newly added prettier functionality on save.

[2018-02-26 14:41] MartinHaeusler commented on #109
Same here. Windows 10 x64, latest IntelliJ (2017.3) and latest version of the save actions plugin.

    Attempt to modify PSI for non-committed Document!
    java.lang.IllegalStateException: Attempt to modify PSI for non-committed Document!
    	at com.intellij.pom.core.impl.PomModelImpl.startTransaction(PomModelImpl.java:355)
    	at com.intellij.pom.core.impl.PomModelImpl.runTransaction(PomModel

[2018-03-01 15:18] benallard opened #148 "Attempt to modify PSI for non-committed Document!"
Reporting as asked:

Happened, just after closing the Merge Window, having successfully resolved the merge.

[code]

[2018-03-01 15:53] dubreuia commented on #148
Duplicates #109

[2018-03-01 15:53] #148 closed

[2018-03-07 00:03] jtoman commented on #109
I am also getting this issue. Stack trace looks basically the same

[2018-03-07 15:27] jhonnytuba opened #149 "Only remove unused imports"
Firstly, I'm grateful for the plugin.

Currently there is the option "Organize Imports".
However, there are people who use eclipse on the same project. So I would suggest that you have an option to just remove the unused imports, without arranging the imports.

[2018-03-07 17:37] dubreuia commented on #149
Hey @jhonnytuba!

Thanks for posting here. What is the problem with the people using Eclipse exactly? They also have a "organize import" save action. If you don't have the same import order in Eclipse and Intellij, maybe you could ask your devs to have the same settings between both IDE? It's pretty straight forward to setup.

[2018-03-07 19:07] markiewb commented on #149
Please have a look at the plugin
https://github.com/krasa/EclipseCodeFormatter

Next to using the eclipse formatter engine it also emulates the import
order of eclipse. It works quite well in our team.

On Wed, Mar 7, 2018, 6:56 PM Alexandre DuBreuil <notifications@github.com>
wrote:

[2018-03-08 16:11] SharpMobileCode commented on #122
+1 for including "Kotlin inspection and quick fix" support as well.  Very nice plugin!

[2018-03-09 09:04] dubreuia commented on #122
Glad you appreciate the plugin @SharpMobileCode

I'd really like to add quick fix support to Kotlin, but I don't see myself having time for that anytime soon. The dev time is pretty substantial: add kotlin language detection (like java), write a kotlin processor, find kotlin quickfixes (those probably needs to be written, for java they are already in jetbrains code, I'm just calling them). A pull

[2018-03-09 11:05] MartinX3 commented on #113
Got unexpected exception during formatting PsiJavaFile:OperationHandler.java: java.lang.IndexOutOfBoundsException: Wrong offset: 5312. Should be in range: [0, 5307]
java.util.concurrent.ExecutionException: java.lang.IndexOutOfBoundsException: Wrong offset: 5312. Should be in range: [0, 5307]
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.util.concurrent.FutureTask.get(Fut

[2018-03-12 09:24] blowsie commented on #118
Or any other IDE actions <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>A</kbd>

[2018-03-13 11:16] afwlehmann commented on #109
Same issue:
[code]

IDE info:
[code]

[2018-03-16 20:09] tandr opened #150 "Allow to "Run Update Copyright..." on saved files"
When I save files, I would like copyright statement be updated according to rules I specify in "Update Copyright" preference. This item is available under Code->Update Copyright...

[2018-03-18 15:56] dubreuia commented on #150
Hey @tandr. I really like the idea of having a "update copyright" save action.

I checked how we could implement this:

- Use `com.maddyhome.idea.copyright.actions.UpdateCopyrightAction`
- Use `com.maddyhome.idea.copyright.actions.UpdateCopyrightProcessor`

I think the second option is better, since it would work like other processor we're using, like `com.dubreuia.processors.OptimizeImportsProces

[2018-03-18 17:06] tandr commented on #150
IntelliJ has an embedded action https://www.jetbrains.com/help/idea/generating-and-updating-copyright-notice.html (the same as organize imports etc). I don't remember installing a special plugin for it.

Would it be possible to run actions somehow by just selecting something from dynamic checklist box of ALL available refactors/code issue finders instead of  having a limited predefined list of act

[2018-03-18 18:41] dubreuia commented on #150
Executing any IDE action was submitted as an improvement a while ago, see #118.

IMO this issue is doable in a short amount of time, but implementing #118 is really a lot of work.

[2018-03-18 18:46] tandr commented on #150
I will be happy with having at least copyright updated if it is possible to have it sooner :)

[2018-03-19 12:19] pablomusumeci commented on #87
Is there any workaround for this issue?

[2018-03-22 18:56] ptr1120 commented on #18
Rider support would be great since this plugin is very helpful.

[2018-03-23 14:15] dubreuia commented on #18
Hey @ptr1120, would you mind testing it? Download the jar at https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v0.26, then "File > Settings > Plugins > Install plugin from disk..." and import the jar, restart and see if it works for you.

If it works, I'll add it to the supported products and you'll see it in "Browse Repository" in Intellij. Thanks.

[2018-03-24 09:25] ptr1120 commented on #18
Thanks, @dubreuia, installed the plugin, plugin settings are available, but nothing happens during save action execution. The idea log says:

[code]

[2018-03-26 09:43] dubreuia commented on #18
Thanks you for testing @ptr1120, I'll have to debug it. I'm updating:

- **IntelliJ IDEA (OK)**
- **PhpStorm (OK)**
- **PyCharm (OK)**
- **AndroidStudio (OK)**
- **WebStorm (OK)**
- **RubyMine (OK)**
- Rider (settings OK - reformat KO)
- AppCode (todo)
- CLion (todo)
- DataGrip (todo)

[2018-04-04 13:55] mystilleef opened #151 "Use smarter heuristics to decide when to trigger save actions"
Use smarter heuristics to decide when to trigger save actions.

I wrote Smart Save for Eclipse.

https://marketplace.eclipse.org/content/smart-save

It automatically saved documents but only when it knew the user was not actively using the document.

So it postponed saving actions after a timeout period when:

- the keyboard is in use
- the mouse is in use
- during any kind of text insertion in th

[2018-04-04 14:39] dubreuia commented on #151
Hey @mystilleef. Thank you for posting this.

What you're describing is Intellij default save behavior. Basically, it triggers (1) on frame deactivation, meaning when the editor is not in focus anymore (2) after a timeout if the editor is idle. See "Settings > Appearance & Behavior > System Settings > Synchronization". Only (1) is activated by default.

There are some supplementary safe guards tha

[2018-04-04 14:41] dubreuia commented on #151
Tested live template is also ok. If you still think there is a problem, reply here with your plugin list and live template.

[2018-04-23 23:53] qayshp commented on #18
For me, using Rider on macOS, after downloading and pointing it at the jar, (unlike above) I don't get any errors in the Event Log, and I see the preference pane and it saves fine (like above).
Unfortunately it also seems not to change anything on save, regardless of the settings I enable.

[2018-05-14 15:36] philero opened #152 "Intellij 2018.1.3 Attempt to modify PSI for non-committed Document!"
An error occured with last intelliJ version of plugin...

IntelliJ IDEA 2018.1.3 (Ultimate Edition)
Build #IU-181.4892.42, built on May 8, 2018
Subscription is active until December 19, 2018
JRE: 1.8.0_152-release-1136-b38 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 7 6.1

See the stacktrace :

Attempt to modify PSI for non-committed Document!
java.lang.IllegalStateException: At

[2018-05-15 09:56] dubreuia commented on #152
Duplicate #109

[2018-05-15 09:56] #152 closed

[2018-05-17 19:12] andy-d opened #153 "No longer working in PyCharm 2018.1.3?"
Save actions does not seem to be working after upgrading to the most recent PyCharm version 2018.1.3.

Am I the only one seeing this?

FWIW
  (1) I'm on OSX High Sierra
  (2) Don't see anything in PyCharm logs

[2018-05-19 20:47] dallincoons opened #154 "Organize imports -> optimize imports?"
It seems like there's a mismatch of naming conventions in this plugin and the IntelliJ settings. In the plugin the setting is named  "Organize Imports" but the IntelliJ settings name is "Optimize Imports". Is this discrepancy intentional?

[2018-05-21 12:47] dubreuia commented on #153
It should work, I'll try to test it.

[2018-05-21 12:48] dubreuia commented on #154
The term in Intellij is "Optimize Imports" and it should be like that everywhere in the plugin. Thanks for pointing it out.

[2018-05-21 14:42] andy-d commented on #153
For me it started to work again briefly and then went back to not working. Sadly I've become pretty dependent on it so that my current refractor is full of unused imports. obviously I can use the code refactoring tools built into pycharm directly but it's just no longer a knee jerk

[2018-05-24 06:49] rw00 opened #155 "Add class qualifier to static member access should only apply to other classes"
Please make it configurable to add the class qualifier to only to the classes other than the one where this static member is defined.

For example,

[code]

Because I didn't find it useful to have
`ThisClassDefinition.log.info("Why so verbose");`

[2018-05-24 12:11] dubreuia commented on #155
Hello @rw00, thank you for you interest in the plugin.

You can submit a PR anytime for this feature. Best way to do that would be to extend the class `com.siyeh.ig.style.UnqualifiedFieldAccessInspection` that is used in the plugin at `com.dubreuia.processors.java.ProcessorFactory#getUnqualifiedFieldAccessProcessor`.

Check out https://github.com/dubreuia/intellij-plugin-save-actions#contributing

[2018-05-24 12:29] rw00 commented on #155
Great! I will.
Thank you

[2018-05-24 20:36] jfcabral commented on #155
Great suggestion @rw00, it's a really much needed feature 👍

[2018-05-25 07:17] Maros-1984 commented on #114
Same here. It happens only _sometimes_. It is usually enough to edit and save file line 2-5 times and the whole file would be reformatted (instead of the edited line) making the feature useless.

IntelliJ IDEA 2018.1 (Ultimate Edition)
Build #IU-181.4203.550, built on March 26, 2018
JRE: 1.8.0_152-release-1136-b20 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 7 6.1

[2018-05-28 07:19] rw00 commented on #135
I'll try to do this by tomorrow

[2018-05-28 09:39] rw00 commented on #91
Hi @dubreuia  ,
Do you allow submitting fixes for 2 issues in one PR? (this and #135)

Thanks,

[2018-05-28 11:27] dubreuia commented on #91
@rw00 I'd prefer two different PR, but if they don't merge (which is probably the case) you can do both issues in the same PR.

Thanks for contributing!

[2018-05-28 13:35] rw00 commented on #135
For some reason `AccessCanBeTightenedInspection` is not a public class. Might need a bit more investigation on how to workaround this

[2018-05-28 14:57] dubreuia commented on #135
@rw00 It's package-private, extend it in the same package and you'll have access. If it's not enough, I don't mind copy pasting the class in the plugin (that part of JetBrain's code is really not usable / extensible).

[2018-05-29 09:44] kossmoboleat opened #158 "Settings in "Local variable or parameter can be final" are ignored for checks"
It seems that the save actions plugin doesn't respect the inspection settings when checking if a variable can be final. This currently creates a problem with Lombok `val` values, because those are implicitly final and the behavior in IntelliJ 2018.1. regarding implicit finals changed:

IntelliJ that lead to the changed behavior:
https://youtrack.jetbrains.com/oauth?state=%2Fissue%2FIDEA-182740

lo

[2018-05-29 10:31] dubreuia commented on #158
Hey @kossmoboleat, thanks for posting. I'll look into it.

[2018-05-30 15:20] dubreuia commented on #135
I'm adding this to next version

[2018-05-31 21:50] dubreuia commented on #135
Hey @rw00 I'm about to release the plugin with your 2 other PR, do you want this issue to be part of the release too?

[2018-05-31 21:54] rw00 commented on #135
Hey @dubreuia
I was able to add this inspectionTool like you described but it just didn't do any fixes when I ran it.
I will have to debug to know why it didn't work.

[2018-05-31 22:42] dobesv opened #159 "Run built-in prettier reformatter on save"
WebStorm has added built-in support for reformatting code using `prettier`.  It would be pretty cool if this plugin could invoke that other plugin on save.

[2018-05-31 22:43] dobesv opened #160 "Fix current file with ESLint on save"
WebStorm has some built-in action "Fix current file with ESLint", it would be great to run this action on save.

https://blog.jetbrains.com/webstorm/2016/08/using-external-tools/

[2018-06-01 15:37] dubreuia commented on #135
Ok keep me posted if you find anything. Thanks

[2018-06-01 15:41] dubreuia commented on #159
Hey @dobesv, I know it works for dart, read this paragraph of the docs.

If you don't have such options for "prettier", we're out of luck. You can submit a PR to add that feature. See issue #118 where this was already discussed.

[2018-06-01 15:41] dubreuia commented on #159
Duplicates #118

[2018-06-01 15:41] #159 closed

[2018-06-01 15:41] dubreuia commented on #160
Same as #159.

[2018-06-01 15:42] dubreuia commented on #160
Duplicates #118

[2018-06-01 15:42] #160 closed

[2018-06-04 12:30] dubreuia opened #161 "Migrate to gitlab"
https://docs.gitlab.com/ee/user/project/import/github.html

[2018-06-04 12:35] Christian-Seiler opened #162 "Jumping Cursor when Reformat File is on"
When "Reformat File" is on, whenever I save, the cursor is jumping back about 4 characters. This is rather annoying to work with.

[2018-06-04 12:39] dubreuia commented on #162
Hey @Christian-Seiler, thanks for posting.

I just tested in the following version and I cannot reproduce. Can you screencast the problem and give me the keypresses that creates the issue and the version of your IDE.

IntelliJ IDEA 2017.3.4 (Ultimate Edition)
Build #IU-173.4548.28, built on January 29, 2018
Licensed to Courtanet / Alexandre Dubreuil
Subscription is active until November 22, 2018
J

[2018-06-04 12:49] Christian-Seiler commented on #162
Below you can find my settings and screencast

IntelliJ IDEA 2018.1.4 (Ultimate Edition)
Build #IU-181.5087.20, built on May 16, 2018
Licensed to Christian Seiler
Subscription is active until September 11, 2018
For educational use only.
JRE: 1.8.0_152-release-1136-b39 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.4

<img width="1030" alt="settings" src="https://user-images.gi

[2018-06-06 14:05] #161 closed

[2018-06-06 14:07] dubreuia commented on #162
Are you sure it comes from save-actions? Can you deactivate and check if issue is still present?

[2018-06-06 14:36] Christian-Seiler commented on #162
I have tried this before. As soon as I deactivate `reformat file` the issue is resolved

[2018-06-08 10:11] macikacz opened #163 "Add possibility to export/import configuration into file"
It would allow to spread a default configuration among team members.

[2018-06-08 11:40] dubreuia commented on #163
It is already the case, check out https://github.com/dubreuia/intellij-plugin-save-actions#files-location, you can commit the file `.idea/saveactions_settings.xml`.

[2018-06-08 11:40] #163 closed

[2018-06-21 07:36] unlabeled opened #164 "State property misarrangement in React components with latest versions of WebStorm & Save actions plugin"
I have WebStorm 2018.1.5, Save actions plugin v0.26 with Ts arrangement settings like: Property Private -> Property Public -> constructor -> Method Private -> Method Public.
Code like this:
[code]
Becomes:
[code]
Everything works fine but state goes to the very end of the class declaration.

[2018-06-21 08:28] dubreuia commented on #164
The save-actions plugin doesn't do anything else then calling the `RearrangeCodeProcessor` from Jetbrains that is configured with "Settings > Editor > Code Style > * > Arrangement". I'm pretty sure it isn't a save-actions problem. Can you execute rearrange code on the first snippet ("CTRL + SHIFT + A > Rearrage") ? If you get the same then the second snippet, then it is not a save-actions issue.

[2018-06-25 13:55] Delfic opened #165 "Feature Request: Generate serialVersionUID"
I would like to request for the option to include the quick-fix regarding the generation of serialVersionUID.

The following inspection can be used to implement such a feature:

![generateserialversionuid](https://user-images.githubusercontent.com/4091284/41854319-d4c6ebd4-7887-11e8-80fe-68bac61590d2.png)

Thanks in avance,
Delfic

[2018-06-26 09:38] dubreuia commented on #165
Hey @Delfic, there are two inspections from Intellij that we could use for this one:

- `com.siyeh.ig.fixes.AddSerialVersionUIDFix`
- `com.siyeh.ig.serialization.NonSerializableWithSerialVersionUIDFieldInspection.RemoveSerialVersionUIDFix` (but it is private)

You can submit a PR anytime.

[2018-06-26 12:11] dubreuia commented on #144
First commit with platform for testing done, planning to add:

- [ ] https://codecov.io: to see progression
- [x] Activation / deactivation tests

[2018-06-26 21:04] Delfic commented on #114
What is exactly the problem?

We had some people think it was not working when there was no such problem: We had some save-actions that changed non-changed code, making it into changed code and then reformatting it. The clarification that may be required is that reformatting is a single action (CTRL+ALT+L on Windows).

Now I am having what I believe is an actual issue. The following code is commit

[2018-07-02 12:52] morwed opened #166 "Unexpected exception during formatting PsiJavaFile:ServiceTest.java: com.intellij.util.IncorrectOperationException: Must not modify PSI inside save listener"
Hello,

Thank you for sharing this with us.
I've installed it in
IntelliJ IDEA 2017.3.4 (Ultimate Edition)
Build #IU-173.4548.28, built on January 30, 2018
JRE: 1.8.0_152-release-1024-b11 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.13.5
While trying to use this plugin, it fails with the following exception:

<img width="1667" alt="screen shot 2018-07-02 at 15 47 45" src="ht

[2018-07-05 14:55] kossmoboleat commented on #158
Did you find something out about this?

[2018-07-10 20:46] Maros-1984 commented on #114
It sounds weird, but to simulate the issue I have to:
0. Have some lines formatted ugly and committed in VCS.
1. Format another line ugly.
2. **Quickly** save the file.

If I do save **immediatelly** after making an ugly change, the whole file is reformatted instead of the VCS-changed lines only (the bug). If I save the file _couple of seconds after_ making an ugly change, only the ugly formatted

[2018-07-11 08:32] Maros-1984 commented on #114
@Delfic, on the second thought, my pull request doesn't break the Reformat whole file feature. So it should be fine in your scenario as well.

[2018-07-12 14:27] thecatwhisperer opened #168 "Feature Request: Don't add final to implicitly final elements."
### Summary
Currently**Save Actions** will add the final keyword to all relevant variables, etc.  However, it may not desirable to have it add final to variables, etc, that are implicitly final (try-with-resources, etc).

[2018-07-12 15:32] sniffertine commented on #39
Hey folks. This probably also happens when you use the feature to undo changes ("Rollback Lines") on the left panel. With this technique I can reproduce the described behaviour very consistently.

So maybe this helps to debug?

1) Open a file that is commited to VCS
2) Write a new line: new MalformedParameterizedTypeException();
3) Notice on the left a green mark that there is a new added line
4)

[2018-07-13 01:59] dubreuia commented on #39
Thanks for the information @sniffertine. It is similar to the fact that the plugin triggers only once per file. I'm pretty sure intellij keeps a list of dirty files, and removing a line from VCS (green square on the left) probably doesn't make the file dirty. No sure it is a save action bug in that case.

[2018-07-13 02:03] dubreuia commented on #166
Duplicates #53

[2018-07-13 02:03] #166 closed

[2018-07-13 02:05] dubreuia commented on #168
Hey @thecatwhisperer, excellent idea. You can submit a PR anytime. Please check the README for information on how to contribute.

[2018-07-13 02:17] dubreuia commented on #158
Hey @kossmoboleat, yes I did, but I won't have time to implement the correction anytime soon. I'm pretty sure it requires me to update the SDK to 2018.1, which by itself isn't a problem, but I'm two years behind... (current 2016.1)

Any help and PR are gladly welcomed. See the README for information on how to contribute

I understand this is also a request for Java, see recent issue #168.

[2018-07-13 02:47] dubreuia commented on #114
@Maros-1984 I responded on your PR, I didn't understand what you where trying to do, but re-reading this I understand.

I'm ok with removing the if branch like you did in the PR if it fixes your problem. I just have to check if the behavior is ok for non CVS users, and maybe fix the UI if I can.

I'm in vacation right now but I'll merge beginning of next month.

Thanks a lot for the PR, I really a

[2018-07-13 05:50] sniffertine commented on #39
I don‘t know if thats an auto save bug. There is definitely a file saved to the FS, bit if IntelliJ doesn‘t trigger an event for plugins you cannot do much indeed.

[2018-07-18 14:10] unlabeled commented on #164
Yep, you're right. It works the same way with just code rearrange.

[2018-07-18 14:10] #164 closed

[2018-07-23 09:32] 0xbaadf00d opened #169 "Run actions manually"
Please add option to run manually "actions" (on all file: changed and un-changed) like the builtin "re-arrange code". to avoid opening 500 java files to run actions on it.

[2018-07-23 19:21] YunchengLiao opened #170 "does not work with disable code formatting for some part of the code using comments"
When I want to keep some part of the code unformated, save action keeps moving it back to it's formatted style.

In version 2018.x, I set format to be ignored in File > Settings > Editor > Code Style (you can change the formatter control markers, as long as they're in comments).

[code]

Seems the plugin does not work with this setting in code style?

[2018-07-23 19:51] #170 closed

[2018-07-23 19:52] YunchengLiao commented on #170
NVM, it's IntelliJ has not implemented ignoring rearrange field yet.

Here is the vote for the feature if you are interested:

https://youtrack.jetbrains.com/issue/IDEA-117159

[2018-07-24 18:41] dubreuia commented on #169
I understand this would be useful, but it is a "save" action plugin, so this is out of scope for now.

AFAIK, you can right click on the project root, then choose "reformat" in the context menu, and you can format all files from the popup. If you need more actions then what you have there, you should ask for a feature request to Jetbrains.

[2018-07-25 05:20] 0xbaadf00d commented on #169
I'm sorry but as long your plugin dont use builtin reformat rules (your plugin add automatically "this." or "final", IntelliJ reformat: not), your workaround is not acceptable.

[2018-07-25 10:00] dubreuia commented on #169
Let's make some things clear:

- I'm not implementing anything here. If you want a feature, you can submit a PR, and I'll merge it if I think it's good. This is how open source works. I'm not Jetbrains, I'm doing this on my free time.
- I get to decide what is an acceptable feature for this project. This one isn't. We can have a constructive argument about whether or not this feature will eventual

[2018-07-26 09:06] madalinmorcov opened #171 "Exception Attempt to modify PSI for non-committed Document!"
I wrote a method that overrides one in an interface, but i added the 'implements interfaceName' statement to my class after i already wrote the method. When i saved the file i expected the pluggin to add @Override on the method, it doesn't do that because there where no changes to my file other than 'implements interfaceName' statement. So if you write a method that overrides one in an interface,

[2018-07-26 09:13] dubreuia commented on #171
Hey @madalinmorcov, thanks a lot for the reproduction steps!

Duplicates #109

[2018-07-26 09:13] #171 closed

[2018-07-31 12:33] #114 closed

[2018-07-31 12:37] dubreuia commented on #114
Merged.

It changes the current behavior (when selected, option "reformat only changed lines" used to reformat lines even if no VCS where configured, that is not the case anymore), but it's okay if it corrects a bug.

[2018-07-31 16:41] dubreuia commented on #144
Pretty much done. Some work left on 3 java quick fixes but it ain't that important

[2018-07-31 16:41] #144 closed

[2018-08-01 09:37] dubreuia commented on #145
Regarding https://www.jetbrains.org/intellij/sdk/docs/basics/getting_started/build_number_ranges.html and the pricing in https://www.jetbrains.com/idea/buy/#edition=personal, I can update the SDK to 2016.3 without fear of losing users, since they can all upgrade to the latest of 2016 with their perpetual fallback licenses (we're already on 2016.3).

Then I can update to 2017.3, and provide a jar f

[2018-08-01 09:40] dubreuia commented on #145
https://github.com/JetBrains/intellij-plugin-verifier

[2018-08-01 09:55] dubreuia opened #172 "Use semantics versionning x.y.z"
Using x.y.z from this release onward (starting 1.0.0)

[2018-08-01 10:56] dubreuia commented on #172
Fixed https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v1.0.0

[2018-08-01 10:56] #172 closed

[2018-08-01 10:57] dubreuia commented on #155
Fixed https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v1.0.0

[2018-08-01 10:57] #155 closed

[2018-08-01 10:57] dubreuia commented on #154
Fixed https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v1.0.0

[2018-08-01 10:57] #154 closed

[2018-08-01 10:58] dubreuia commented on #144
Fixed https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v1.0.0

[2018-08-01 11:28] dubreuia commented on #91
Hey @rw00 can you give me an example of how this works (before / after)

[2018-08-01 11:28] dubreuia commented on #91
Fixed https://github.com/dubreuia/intellij-plugin-save-actions/releases/tag/v1.0.0

[2018-08-01 11:28] #91 closed

[2018-08-04 11:23] JosephMaria opened #173 "I got bug"
Got unexpected exception during formatting PsiJavaFile:Employee.java

java.util.concurrent.ExecutionException: java.lang.IndexOutOfBoundsException: Wrong offset: 1072. Should be in range: [0, 1070]
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.util.concurrent.FutureTask.get(FutureTask.java:192)
	at com.intellij.codeInsight.actions.AbstractLayoutCodeProcessor$ReformatFile

[2018-08-04 11:25] #173 closed

[2018-08-04 11:27] JosephMaria commented on #113
Got unexpected exception during formatting PsiJavaFile:Employee.java

java.util.concurrent.ExecutionException: java.lang.IndexOutOfBoundsException: Wrong offset: 1072. Should be in range: [0, 1070]
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)
	at java.util.concurrent.FutureTask.get(FutureTask.java:192)
	at com.intellij.codeInsight.actions.AbstractLayoutCodeProcessor$ReformatFile

[2018-08-07 13:47] rw00 commented on #165
@dubreuia  ,
Please assign this issue to me. I will submit tonight.

[2018-08-07 13:56] dubreuia commented on #165
:+1:

[2018-08-07 15:17] rw00 commented on #158
Hi @dubreuia  ,
Could you please describe how to update the SDK? Maybe document it in the README.

Thanks,

[2018-08-07 16:16] dubreuia commented on #145
It might work without providing a binary for each specific intellij version, need to check with https://github.com/JetBrains/intellij-plugin-verifier.

If it doesn't work, we can provide multiple builds like:

- [145.0, 163.*] : SDK 2016.3 (this is current build) for IDEA 2016.1 through 2016.3.X.
- [171.1, 173.*] : SDK 2017.3 for IDEA 2017.1 through IDEA 2017.3.X
- [181.1, 185.*] : SDK 2018.? for

[2018-08-08 10:58] dubreuia commented on #87
I stumbled on this one again today: this annotation got deleted com/dubreuia/processors/java/InspectionProcessor.java:90

[2018-08-08 13:52] dubreuia commented on #153
Just tested in 2018.2.1 and it work. With plugin version 1.0.0

PyCharm 2018.2.1 (Community Edition)
Build #PC-182.3911.33, built on August 5, 2018
JRE: 1.8.0_152-release-1248-b8 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.8.0-59-generic

[2018-08-08 13:52] #153 closed

[2018-08-10 08:47] dubreuia commented on #145
https://github.com/JetBrains/intellij-scala does it too

[2018-08-10 12:28] findpikachu commented on #18
this plugin doen't work for clion.

[2018-08-10 12:53] dubreuia commented on #18
Ok I'll check Rider dans Clion before releasing 1.1.0, which should be by the end of the month

[2018-08-13 08:34] rw00 opened #178 "Fix Epf config for #91, #135, #155 and #165"
Unaware, I added random properties to EpfStorage class in my pull requests for those issues.
I didn't have Eclipse installation on my machine and to be honest I didn't think about it much

Here's a sample Eclipse Preferences data:

[code]

[2018-08-13 09:50] dubreuia commented on #178
:o

If some do no match, I prefer having nothing than a property that do not exists in Eclipse. Also, this code `com.dubreuia.model.EpfStorage` isn't properly tested.

[2018-08-13 11:49] dubreuia commented on #169
Merged in master, added to 1.1.0

[2018-08-13 12:48] #165 closed

[2018-08-13 12:49] #135 closed

[2018-08-13 12:49] #169 closed

[2018-08-13 15:39] #119 closed

[2018-08-13 15:42] dubreuia opened #179 "Add visual cue when the plugin triggers"
Add a visual cue when the plugin (similar to #59)

- is activated / de-activated (useful for shortcut heavy users),
- is triggered by frame de-activation or timeout

[2018-08-13 15:44] dubreuia opened #180 "Used imports are deleted in CLion"
The code

[code]

is cleaned as

[code]

which makes the compilation fail because fmin is used.

[2018-08-13 15:45] dubreuia commented on #18
CLion works. A bit too well since it deletes used imports but formatting is OK. See #180.

[2018-08-14 02:42] liangkuncen opened #181 "The latest Intellij IDEA not support code file template.java class file header is not format!"
The latest Intellij IDEA not support code file template.java class file header is not format!

[2018-08-14 09:34] dubreuia commented on #181
Hello @liangkuncen. Can you explain your problem in more detail? Please post the content of your file, then what is expected to happen, and why it isn't working. Thanks

[2018-08-14 09:43] dubreuia commented on #179
Duplicates #59

[2018-08-14 09:43] #179 closed

[2018-08-14 09:47] dubreuia commented on #132
Fixed by #169 .

[2018-08-14 09:47] #132 closed

[2018-08-14 09:50] #82 closed

[2018-08-14 10:00] dubreuia commented on #18
Actually, Rider is not officially supported and CLion works so we're good for 1.1.0, no regression.

[2018-08-14 11:27] dubreuia commented on #178
Hey @markiewb I'm fixing this issue, do you remember what is the difference between those two files: `src/test/resources/example.epf` and `src/test/resources/org.eclipse.jdt.ui.prefs`

[2018-08-14 11:45] dubreuia commented on #178
@rw00 @markiewb Do you know a place where I can find the eclipse documentation on epf files? I'd like to have all the possible keys for the `sp_cleanup` prefix.

[2018-08-14 11:54] rw00 commented on #178
@dubreuia  I think the ones I included in this issue are all.
In Eclipse, go to Preferences < Java < Editor < Save Actions, modify some settings and finally save.

Check the file which stores these settings under:
`<your-eclipse-workspace>/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs`

I couldn't find any documentation for these settings

[2018-08-14 12:05] dubreuia commented on #178
Ok thanks, I'm refactoring + testing the class

[2018-08-14 19:29] markiewb commented on #178
@dubreuia: @rw00 explained it correct. Initially I did the same as him. Changed the setting in Eclipse and watch for the change in the preference file.

AFAIK there is no official documentation of the available keys. Every setting in Eclipse has 1 or more corresponding setting entries in org.eclipse.jdt.ui.prefs. The epf-file is a xml-file based on the key-value pairs of this file, which is suppor

[2018-08-16 11:56] dubreuia commented on #178
Fixed in master. The behavior might have changed a bit. If it doesn't work properly, reopen this issue.

[2018-08-16 11:56] #178 closed

[2018-08-17 09:17] svenhaag commented on #109
Same for me @ 2018.2.1 (Ultimate Edition)

[2018-08-20 10:28] #129 closed

[2018-08-20 10:30] #181 closed

[2018-08-20 10:30] dubreuia commented on #162
Cannot reproduce

[2018-08-20 10:30] #162 closed

[2018-08-20 11:53] dubreuia opened #183 "Add release script"

[2018-08-21 21:06] rw00 commented on #150
@dubreuia I couldn't find the library `com.maddyhome.idea.*` in the classpath
Where did you get those classes?

[2018-08-22 10:39] rw00 commented on #150
There are many more missing classes including one called `com.intellij.copyright.CopyrightManager` which is, I guess, part of the updated SDK (not found in 2016.3).
Therefore, first we need to update the SDK then rely on the code you mentioned above

[2018-08-22 12:36] dubreuia commented on #150
Too bad. I suppose copying the whole package `com.maddyhome.idea.copyright` is a bit too dirty: https://github.com/JetBrains/intellij-community/tree/0e91550e746c94ab6afe5c0d36450b93b587dd2d/plugins/copyright/src/com/maddyhome/idea/copyright

Doing a multi release jar is a lot of work for just this processor. I'm not against it since I feel we'll have to do it at some point, but this particular pro

[2018-08-23 08:09] immondu opened #184 "IntelliJ freezes on changing gradle dependencies in 2018.2.x"
**What happens?**
I edit an Gradle file, changing the dependencies. Just Typing one character in the dependencies String. (With this single character the dependency is not valid.) After that, IntelliJ freezes. Everything is visible as bevor, but by moving the mouse there are no mouse over effects, nothing is clickable, IntelliJ can only be terminated from outside. When restarting the changes seem

[2018-08-23 08:40] dubreuia commented on #184
Hey @immondu. Did you template your own issue format? That's really good bug redaction. Thanks a lot. And thank you for testing in multiple versions of Intellij.

Can you please post the content of two files (those from https://github.com/dubreuia/intellij-plugin-save-actions#files-location): `~/.IntelliJIdeaVERSION/system/log/idea.log` (you can grep SaveActionManager if you don't want to send eve